@require 'vars.styl'

/* ----- MAIN ----- */

.main
    padding-top calc(4em + 2px)
    font-size 1.5em
    transition: $trans

    &.OneUI-mode
        @media $tab
            padding-top 50vh
            min-height calc(100vh - 4em)

    &.OneUI-mode.scroll
        @media $tab
            padding-top calc(4em + 2px)
            min-height calc(100vh - 4em)