@require 'vars.styl'

/* ----- MENU ----- */

.menu
    display flex
    justify-content center
    align-items center
    flex-wrap wrap

    @media $mob
        flex-direction column
        justify-content flex-start
        align-items flex-start
        flex-wrap nowrap

.menu-item
    margin .5em
    padding 1em
    width 20em
    height 10em
    position relative
    display flex
    flex-direction column
    justify-content space-between
    align-items center
    background-color $mainBg
    border 1px solid transparent //$mainBorder
    border-radius 1em
    cursor pointer
    transition $trans

    @media $mob
        margin 0
        padding .5em
        width calc(100% - 1em)
        height 4em
        flex-direction row
        justify-content flex-start
        border-width 0
        border-radius 0

    &:hover
        background-color $hoverBg
        border-color $accent

        @media $mob
            border-color transparent

    &__icon
        margin-top .5em
        width 3em
        height 3em
        display flex
        justify-content center
        align-items center
        background-color $iconBg
        border-radius 50%

        @media $mob
            margin .5em

    &__text
        width 15em
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center

        @media $mob
            padding-left: .5em
            width inherit
            height auto
            align-items flex-start

        .menu-item__icon + &
            height 4em
            justify-content flex-start      

            @media $mob
                justify-content center
                width calc(100% - 4.5em)

        &__name
            width inherit
            text-align center
            font-size 1.2em
            font-weight bold
            white-space nowrap
            overflow hidden
            text-overflow ellipsis

            @media $mob
                text-align left
                font-weight 300

        &__desc
            color $secColor
            text-align center
            font-size 0.8em

            @media $mob
                text-align left

    .hidden-link
        transform translateY(-1em)

        @media $mob
            width inherit
            transform translateY(0)

