@require 'vars.styl'

:root
    --accent-color $accent_Stock
    --accent_opacity-color $oAccent_Stock

    --main_bg-color $mainBg_Stock
    --secondary_bg-color $secBg_Stock
    --icon_bg-color $iconBg_Stock
    --hover_bg-color $hoverBg_Stock

    --main_text-color $mainColor_Stock
    --secondary_text-color $secColor_Stock
    
    --main_border-color $mainBorder_Stock
    
    --radio_nonactive-color $radioNA_Stock
    --switch_nonactive-color $switchNA_Stock
    --switch-before_nonactive-color $switchBNA_Stock
    
*
    margin: 0
    padding: 0

body
    color $mainColor
    background-color $mainBg
    font-family 'Open Sans', sans-serif
    font-size 2vh

    @media $tabOnly
        font-size 2vw

    @media $mob
        font-size 3vw

.hidden-link
    width 100%
    height 100%
    position absolute
    text-decoration none
    color inherit

.red-text
    color red