@require 'vars.styl'

/* ----- SWITCH ----- */

.switch-label input
.switch-container input
    display none

.switch-label
    justify-content center

    @media $mob
        justify-content space-between

    .menu-item__text
        margin .5em
        height auto

        @media $mob {
            margin 0
            width calc(100% - 5em)
        }

.switch
    margin 0.59em
    width 2em
    height 0.8em
    position relative
    border: 0.16em solid $switchNA
    border-radius 0.56em
    transition $trans

    @media $mob
        margin 0.985em
        height 0.7em
        width 1.75em
        border-radius 0.49em
        border-width 0.14em

    &:before
        content ''
        top -0.4em
        left -0.4em
        width 1.6em
        height 1.6em
        display block
        position absolute
        background-color $switchBNA
        border-radius 50%
        transition $trans

        @media $mob
            top -0.35em
            left -0.35em
            height 1.4em
            width 1.4em

input:checked + .switch
    border-color $oAccent

input:focus + .switch
    box-shadow: 0 0 1px $accent

input:checked + .switch:before
    background-color $accent
    transform translateX(1.2em)

    @media $mob
        transform translateX(1.05em)