// Переменные

$trans = .3s

$accent = var(--accent_color, #42a5f6)
$oAccent = var(--accent_opacity-color, rgba(66,165,246,0.5))
$mainColor = var(--main_text-color, #d8d8d8)
$mainBg = var(--main_bg-color, #000)
$mainBorder = var(--main_border-color, #1e1e1e)
$iconBg = var(--icon_bg-color, #141414)
$hoverBg = var(--hover_bg-color, #1a1a1a)
$secColor = var(--secondary_text-color, #898989)
$secBg = var(--secondary_bg-color, #1f1f1f)
$switchNA = var(--switch_nonactive-color, #3d3d3d)
$switchBNA = var(--switch-before_nonactive-color, #d1d1d1)
$radioNA = var(--radio_nonactive-color, #c7c7c7)

$mob = '(max-aspect-ratio: 3/4)'
$tab = '(max-aspect-ratio: 6/5)'
$tabOnly = '(min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5)'
$pc = '(min-aspect-ratio: 6/5)'

// Функции

