// Переменные

$trans = .3s

$accent = var(--accent_color, #42a5f6)
$oAccent = var(--accent_opacity-color, rgba(66,165,246,0.5))
$mainColor = var(--main_text-color, #d8d8d8)
$mainBg = var(--main_bg-color, #000)
$divider = var(--divider_color, #1e1e1e)
$iconBg = var(--icon_bg-color, #141414)
$hoverBg = var(--hover_bg-color, #1a1a1a)
$secColor = var(--secondary_text-color, #898989)
$secBg = var(--secondary_bg-color, #1f1f1f)
$switchNA = var(--switch_nonactive-color, #3d3d3d)
$switchBNA = var(--switch-before_nonactive-color, #d1d1d1)
$radioNA = var(--radio_nonactive-color, #c7c7c7)

$oneuiH = var(--oneui_header-height, 47.5vh)
$pcFS = var(--pc_font-size, 2vh)
$tabFS = var(--tab_font-size, 2vw)
$mobFS = var(--mob_font-size, 3vw)

$accent_Stock = #42a5f6
$oAccent_Stock = rgba(66,165,246,0.5)
$mainColor_Stock = #d8d8d8
$mainBg_Stock = #000
$divider_Stock = #1e1e1e
$iconBg_Stock = #141414
$hoverBg_Stock = #1a1a1a
$secColor_Stock = #898989
$secBg_Stock = #1f1f1f
$switchNA_Stock = #3d3d3d
$switchBNA_Stock = #d1d1d1
$radioNA_Stock = #c7c7c7

$oneuiH_Stock = 47.5vh
$pcFS_Stock = 2vh
$tabFS_Stock = 2vw
$mobFS_Stock = 3vw

$mob = '(max-aspect-ratio: 3/4)'
$tab = '(max-aspect-ratio: 6/5)'
$tabOnly = '(min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5)'
$notMob = '(min-aspect-ratio: 3/4)'
$pc = '(min-aspect-ratio: 6/5)'

// Функции

