/*------------------------------*/
/*---РАЗДЕЛ ABOUT---------------*/
/*------------------------------*/

/* Контейнер со спеками в самом верху страницы ------------------------------*/

.about-header
{
  padding: 0.5em 4vw;
  height: 15em;
  display: flex;
  flex-direction: row;
  border-bottom: none;
}

/* Картинка и спеки устройства ------------------------------*/

.about-header_img /* Стиль картинки в верхнем контейнере */
{
  flex: 50%;
  background: url(../icons/asus-pc.png) no-repeat 50% 50%;
  background-size: contain;
  transform: scale(0.9);
}
.about-header_specs /* Стиль блоков с текстом в верхнем контейнере */
{
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: space-around;
}

/* Классы для текста ------------------------------*/

.about_primary-text /* Стиль основного текста */
{
  color: var(--secondary_text-color);
}
.about-header .about_primary-text /* Весь основной текст заглавными в верхнем контейнере */
{
  text-transform: uppercase;
}
.about_secondary-text /* Стиль второстепенного текста */
{
  color: var(--main_text-color);
}

.text_ZenUI, .text_RUI, .text_OneUI
{
  display: none; /* Скрыть по дефолту текст, зависящий от UI */
}

/* Текст в спеках сверху страницы ------------------------------*/

#about-1spec .about_primary-text::before {content: 'CPU'}
#about-2spec .about_primary-text::before {content: 'GPU'}
#about-2spec .about_secondary-text::before {content: 'NVIDIA RTX 2080 Super'}
#about-3spec .about_primary-text::before {content: 'хранилище'}
#about-3spec .about_secondary-text::before {content: '32GB RAM + 2048GB ROM'}
#about-4spec .about_primary-text::before {content: 'экран'}
#about-4spec .about_secondary-text::before {content: 'IPS LCD 27" Display'}

/* Конструкция из 6 блоков снизу страницы ------------------------------*/

.about-section /* Секция со спеками (квадратичная) */
{
  display: flex;
}

/* Текст в 6 блоках снизу ------------------------------*/

#about-title .about_primary-text::before {content: 'Название устройства'}
#about-title .about_secondary-text::before {content: 'Правильный комп'}
#about-model .about_primary-text::before {content: 'Модель'}
#about-model .about_secondary-text::before {content: 'Asus ROG PC'}
#about-os .about_primary-text::before {content: 'Версия Windows'}
#about-os .about_secondary-text::before {content: '10 1903 Build'}
#about-ui .about_primary-text::before {content: 'Версия ядра'}
#about-build .about_primary-text::before {content: 'Номер сборки'}
#about-date .about_primary-text::before {content: 'Дата сборки'}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  /* Картинка и спеки устройства ------------------------------*/

  .about-header_img /* Стиль картинки в верхнем контейнере */
  {
    background: url(../icons/oneplus-7p.png) no-repeat 50% 50%;
    background-size: 10em;
  }
  .UI_ZenUI .about-header_img /* Картинка при ZenUI-стиле */
  {
    background-image: url(../icons/zenfone-6.png);
  }
  .UI_RUI .about-header_img /* Картинка при RUI-стиле */
  {
    background-image: url(../icons/realme-x.png);
  }
  .UI_OneUI .about-header_img /* Картинка при OneUI-стиле */
  {
    background-image: url(../icons/galaxy-a80.png);
  }

  /* Классы для текста ------------------------------*/

  .UI_OOS .text_OOS,
  .UI_ZenUI .text_ZenUI,
  .UI_RUI .text_RUI,
  .UI_OneUI .text_OneUI
  {
    display: block; /* Показать текст, зависящий от UI */
  }

  .UI_ZenUI .text_OOS,
  .UI_RUI .text_OOS,
  .UI_OneUI .text_OOS
  {
    display: none; /* Скрыть UI_OOS текст при отличном от UI_OOS стиле UI */
  }

  /* Текст в спеках сверху страницы ------------------------------*/

  #about-2spec .about_primary-text::before {content: 'хранилище'}
  #about-2spec .about_secondary-text::before {content: '8GB RAM + 128GB ROM'}
  #about-3spec .about_primary-text::before {content: 'камера'}
  #about-3spec .about_secondary-text::before {content: '48 + 16 + 8 MP Triple Camera'}
  #about-4spec .about_secondary-text::before {content: 'Fluid AMOLED 6,67" Display'}

  .UI_ZenUI #about-3spec .about_secondary-text::before {content: '48 + 13 MP Camera'}
  .UI_ZenUI #about-4spec .about_secondary-text::before {content: 'Super IPS+ 6,39" Display'}

  .UI_RUI #about-3spec .about_secondary-text::before {content: '48 + 5 MP Camera'}
  .UI_RUI #about-4spec .about_secondary-text::before {content: 'Super Amoled 6,53" Display'}

  .UI_OneUI #about-3spec .about_secondary-text::before {content: '48 + 8 MP Camera with ToF'}
  .UI_OneUI #about-4spec .about_secondary-text::before {content: 'Super Amoled 6,69" Display'}

  /* Текст в 6 блоках снизу ------------------------------*/

  #about-title .about_secondary-text::before {content: 'Правильный смартфон'}
  #about-model .about_secondary-text::before {content: 'OnePlus 7 Pro'}
  #about-os .about_primary-text::before {content: 'Версия Android'}
  #about-os .about_secondary-text::before {content: '10'}

  #about-model.UI_ZenUI .about_secondary-text::before {content: 'Zenfone 6'}
  #about-model.UI_RUI .about_secondary-text::before {content: 'Realme X'}
  #about-model.UI_OneUI .about_secondary-text::before {content: 'Samsung Galaxy A80'}
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Контейнер со спеками в самом верху страницы ------------------------------*/

  .about-header
  {
    height: 10em;
  }

  /* Конструкция из 6 блоков снизу страницы ------------------------------*/

  .about-section /* Секция со спеками (квадратичная) */
  {
    padding: 0.75em 0;
    flex-direction: row;
    border-bottom: 1px solid var(--main_border-color);
  }
  .about-section:last-of-type /* Последняя секция со спеками (квадратичная) */
  {
    border-bottom: none;
  }
  .about-container /* Контейнеры в секции */
  {
    height: 5em;
    display: flex;
    flex: 50%;
  }
  .about-container:nth-of-type(odd) /* Нечетные контейнеры в секции */
  {
    border-right: 1px solid var(--main_border-color);
    padding-right: 0.75em;
  }
  .about-container:nth-of-type(even) /*Четные контейнеры в секции */
  {
    padding-left: 1.5em;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  /* Конструкция из 6 блоков снизу страницы ------------------------------*/

  .about-section /* Секция со спеками (квадратичная) */
  {
    padding: 0;
    flex-direction: column;
  }
  .about-container /* Контейнеры в секции */
  {
    height: 3em;
    border-top: 1px solid var(--main_border-color);
  }
  .about-text /* Стиль текстового контейнера внутри контейнера */
  {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
