/*------------------------------*/
/*---РАЗДЕЛ ADDON---------------*/
/*------------------------------*/

/* Показ контента в зависимости от активного стиля UI ------------------------------*/

.content_OOS, .content_ZenUI, .content_RUI, .content_OneUI
{
  display: none; /* Скрыть по дефолту контент, зависящий от UI */
}
.UI_OOS .content_OOS,
.UI_ZenUI .content_ZenUI,
.UI_RUI .content_RUI,
.UI_OneUI .content_OneUI
{
  display: block; /* Показать контент, зависящий от UI */
}

/* Другое ------------------------------*/

.txt-in-mobile,
.content_OOS.txt-in-mobile,
.content_ZenUI.txt-in-mobile,
.content_RUI.txt-in-mobile,
.content_OneUI.txt-in-mobile
{
  display: none; /* класс для показа содержимого только на мобиле */
}
.link-hidden /* дефолтные ссылки (никак не выделены) */
{
  text-decoration: none;
  color: inherit;
}
.sup /* надстрочное начертание */
{
  font-size: 0.5em;
}
.two-line /* фикс для двустрочности заголовков */
{
  height: 2em;
  display: flex;
  align-items: center;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  /* Другое ------------------------------*/

  .txt-in-pc /* класс для показа содержимого только на компе */
  {
    display: none;
  }
  .txt-in-mobile,
  .UI_OOS .content_OOS.txt-in-mobile,
  .UI_ZenUI .content_ZenUI.txt-in-mobile,
  .UI_RUI .content_RUI.txt-in-mobile,
  .UI_OneUI .content_OneUI.txt-in-mobile
  {
    display: block; /* класс для показа содержимого только на мобиле */
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  /* Раскладка в две колонки ------------------------------*/

  .two-columns
  {
    width: 50%;
    box-sizing: border-box; /* Чтобы считало размеры с учетом бордеров и паддингов */
  }
  .two-columns:nth-of-type(odd) /* Прилипание к левому краю */
  {
    float: left;
  }
  .two-columns:nth-of-type(even) /* Прилипание к правому краю */
  {
    float: right;
  }

  .two-columns.menu-tile /* ширина при раскладке в 2 колонки, если menu-tile */
  {
    width: calc(50% - 1em);
  }
  .two-columns.menu-tile:nth-of-type(odd) /* Маргин нечетных плиток, если menu-tile */
  {
    margin-right: 1em;
  }
  .two-columns.menu-tile:nth-of-type(even) /* Маргин четных плиток, если menu-tile */
  {
    margin-left: 1em;
  }
}
