/*------------------------------*/
/*---РАЗДЕЛ ADDON---------------*/
/*------------------------------*/

.txt-in-mobile /* класс для показа содержимого только на мобиле */
{
  display: none;
}
.link-hidden /* дефолтные ссылки (никак не выделены) */
{
  text-decoration: none;
  color: inherit;
}
.sup /* надстрочное начертание */
{
  font-size: 0.5em;
}
.two-line /* фикс для двустрочности заголовков */
{
  height: 2em;
  display: flex;
  align-items: center;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .txt-in-pc /* класс для показа содержимого только на компе */
  {
    display: none;
  }
  .txt-in-mobile /* класс для показа содержимого только на мобиле */
  {
    display: block;
  }
}
