/*------------------------------*/
/*---РАЗДЕЛ ARTICLE-------------*/
/*------------------------------*/

/* <article> ------------------------------*/

  #start .article.UI_OOS /* артикли на гл. стр.,UI OOS*/
  {
    margin: 0 4vw;
  }
  #start .article.UI_OOS, /* артикли внутри гл. стр., стиль UI OOS */
  .article.UI_OneUI /* артикли внутри <main>, стиль UI OneUI */
  {
    margin-top: 1em;
    background-color: var(--secondary_bg-color, #1f1f1f);
    border-radius: var(--main_border-radius, 0.5em);
  }
  #start .article.UI_OOS:first-of-type, /* первый артикль внутри <main> на главной стр., стиль UI OOS */
  .article.UI_OneUI:first-of-type /* первый артикль внутри <main>, стиль UI OneUI */
  {
    margin-top: 0;
  }
.article_center /* артикли внутри <main>, модификатор для центрирования */
{
  text-align: center;
}
.article_edge /* артикли внутри <main>, модификатор для боковых отступов */
{
  padding: 0 4vw;
}

  /* Модификации для артиклей с главным тумблером страницы */
  .article_single.important.UI_LOS, /* не отмечен чекбокс, стиль LOS */
  .article_single.important.UI_OOS /* не отмечен чекбокс, стиль OOS */
  {
    background-color: var(--secondary_bg-color, #1f1f1f);
  }
  .article_single.important.checked.UI_OOS /* отмечен чекбокс, стиль OOS */
  {
    background-color: var(--accent-color, #42a5f6);
  }
  .article_single.important.checked.UI_LOS, /* не отмечен чекбокс, стиль LOS */
  .article_single.important.checked.UI_OneUI /* отмечен чекбокс, стиль OneUI */
  {
    background-color: var(--accent_opacity-color, rgba(66,165,246,0.5));
  }

/* Границы (псевдоэлементы) артиклей ------------------------------*/

.article::after /* дефолтная граница в конце артикля */
{
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--main_border-color, #1e1e1e);
  clear: both;
}
  .article.UI_RUI::after,
  .article.UI_ZenUI::after /* для RUI/ZenUI UI */
  {
    margin: 0 4vw;
    width: calc(100% - 8vw);
  }
  #start .article.UI_OOS::after, /* Для артиклей на гл. стр., UI OOS */
  .article.UI_OneUI::after /* для OneUI UI */
  {
    height: 0;
  }
.article:last-of-type:not(.article_single):not(.UI_OneUI):not(#start .UI_OOS)::after /* случаи, когда граница не нужна */
{
  content: none;
}
  /* Модификации для артиклей с главным тумблером страницы */
  .article_single.important.UI_LOS::after,
  .article_single.important.UI_OOS::after,
  .article_single.important.UI_OneUI::after
  {
    height: 0;
  }
.article_multiple.UI_OneUI:not(:last-of-type)::after,
.article_multiple.UI_ZenUI:not(:last-of-type)::after
 /* границы между множественными артиклями */
{
  content: '';
  margin: 0 4vw;
  height: 1px;
  width: calc(100% - 8vw);
  display: block;
  background-color: var(--main_border-color, #1e1e1e);
  clear: both;
}

/* Заголовки артиклей ------------------------------*/

.article-header
{
  margin: 0 4vw;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  transition: ease-out var(--main_animation-duration, 0.3s);
}
#changelog .article-header::after /* Допись в заголовок артикля в ченжлоге */
{
  content: " версия";
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Границы (псевдоэлементы) артиклей ------------------------------*/

    .article.UI_ZenUI::after /* для ZenUI UI */
    {
      background-color: var(--accent-color, #42a5f6);
    }
    .article:last-of-type.UI_ZenUI::after /* для ZenUI UI */
    {
      background-color: rgba(0,0,0,0);
    }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  /* Границы (псевдоэлементы) разделов ------------------------------*/

    .article_multiple.two-columns.UI_OneUI:not(:last-of-type)::after,
    .article_multiple.two-columns.UI_ZenUI:not(:last-of-type)::after
    {
      content: none; /* фикс для артиклей с раскладкой в 2 колонки для OneUI/ZenUI (убирает лишние бордеры) */
    }
}
