/*------------------------------*/
/*---РАЗДЕЛ ARTICLE-------------*/
/*------------------------------*/

/* <article> ------------------------------*/

  .article.UI_OneUI /* артикли внутри <main>, стиль UI OneUI */
  {
    margin-bottom: 1em;
    background-color: var(--secondary_bg-color, #424242);
    border-radius: var(--main_border-radius, 0.5em);
  }
.article_center /* артикли внутри <main>, модификатор для центрирования */
{
  text-align: center;
}
.article_edge /* артикли внутри <main>, модификатор для боковых отступов */
{
  padding: 0 4vw;
}

/* Границы (псевдоэлементы) артиклей ------------------------------*/

.article::after /* дефолтная граница в конце артикля */
{
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--main_border-color, #1e1e1e);
  clear: both;
}
  .article.UI_RUI::after,
  .article.UI_ZenUI::after /* для RUI/ZenUI UI */
  {
    margin: 0 4vw;
    width: calc(100% - 8vw);
  }
  .article.UI_OneUI::after/* для OneUI UI */
  {
    height: 0;
  }
.article:last-of-type:not(.article_single):not(.UI_OneUI)::after /* случаи, когда граница не нужна */
{
  content: none;
}
.article_multiple.UI_OneUI:not(:last-of-type)::after,
.article_multiple.UI_ZenUI:not(:last-of-type)::after
 /* границы между множественными артиклями */
{
  content: '';
  margin: 0 4vw;
  height: 1px;
  width: calc(100% - 8vw);
  display: block;
  background-color: var(--main_border-color, #1e1e1e);
  clear: both;
}

/* Заголовки артиклей ------------------------------*/

.article-header
{
  margin: 0 4vw;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--main_bg-color, black);
  transition: ease-out var(--main_animation-duration, 0.3s);
}
  .article-header.UI_OneUI /* заголовок артикля, стиль OneUI */
  {
    border-bottom: none;
  }
.article:hover .article-header /* при наведении на содержимое артикля его заголовок подчеркивается снизу */
{
  border-color: var(--accent-color, #80cbc4);
}
#changelog .article-header::after /* Допись в заголовок артикля в ченжлоге */
{
  content: " версия";
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  /* Границы (псевдоэлементы) разделов ------------------------------*/

  .article_multiple.two-columns.UI_OneUI:not(:last-of-type)::after,
  .article_multiple.two-columns.UI_ZenUI:not(:last-of-type)::after
  {
    content: none; /* фикс для артиклей с раскладкой в 2 колонки для OneUI/ZenUI (убирает лишние бордеры) */
  }
}
