/*------------------------------*/
/*---РАЗДЕЛ BODY----------------*/
/*------------------------------*/

/* Стили <body> и иммитирующих его блоков ------------------------------*/

.page /* дефолтные <body> */
{
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main_bg-color);
  color: var(--main_text-color);
  font-family: Arial, sans-serif;
}
.page-block:not(:target) /* все блоки внутристраничной навигации, кроме выбранной - скрыть */
{
  display: none;
}
.page-block_main /* дефолтное выравнивание текста на второстепенных страницах при ВН */
{
  text-align: left;
}
