:root
{
  --default_bg-color: black;
  --default_text-color: white;
  --default_border-color: #212121;
  --menu-item_bg-color: #141414;
  --secondary_text-color: #bbb;
  --site-hover_bg-color: #282828;
  --site-header_border-color: #383838;
  --footer_text-color: #808080;
}

.header-back_button
{
  background-image: url("../icons/back.png");
}
