:root
{
  --main_bg-color: black;
  --secondary_bg-color: #141414;
  --hover_bg-color: #282828;

  --main_text-color: white;
  --secondary_text-color: #bbb;

  --main_border-color: #212121;

  --header-back_button: url(../icons/back-white.png);
}
