/*------------------------------*/
/*---РАЗДЕЛ FOOTER--------------*/
/*------------------------------*/

.footer /* сток <footer> */
{
  border-top: 2px solid var(--main_border-color);
  font-size: 0.8rem;
  clear: both; /* фикс для нормальной работы с флоачеными плитками */
}
.footer-container /* контейнер для содержимого футера */
{
  display: flex;
  justify-content: space-between;
}
.footer-text /* стили текста в футере */
{
  margin: inherit;
  padding: 0.5em;
  color: var(--secondary_text-color);
  font-size: 1em;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .footer /* сток <footer> */
  {
    font-size: 1rem;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  .footer-container /* контейнер для содержимого футера */
  {
    padding: 1em;
    align-items: center;
    flex-direction: column;
  }
  .footer-text /* стили текста в футере */
  {
    padding: 0.1em;
    font-size: 0.8em;
  }
}
