/*------------------------------*/
/*---РАЗДЕЛ HEADER--------------*/
/*------------------------------*/

.header /* Сток шапка */
{
  top: 0;
  width: 100%;
  height: 3em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main_bg-color, black);
  border-bottom: 2px solid var(--main_border-color, #1e1e1e);
  font-size: 2rem;
}
  .header.HEADER_ZenUI /* Шапка при активном стиле шапки "ZenUI" */
  {
    border-color: var(--accent-color, #80cbc4);
  }
  .header.HEADER_OOSColor /* Шапка при активном стиле шапки "OOS цветная" */
  {
    background-color: var(--main_border-color, #1e1e1e);
  }
.header_page /* Модификатор шапки, только для страниц, не являющихся главной в HTML-документе (при ВН) */
{
  align-items: center;
}

/* Иконки ------------------------------*/

.header-icon /* Сток-контейнер иконок в шапке */
{
  margin: 0 0.5em;
  padding: 0.45em;
  display: flex;
  cursor: pointer;
  border: 0.05em solid rgba(0,0,0,0);
  border-radius: var(--icon_border-radius, 50%);
  transition: ease-out 0.3s;
}
.header-icon:hover /* Сток-контейнер иконок в шапке при наведении */
{
  border-color: var(--accent-color, #80cbc4);
  transform: scale(0.6);
}
.header-icon_svg /* Свг-порт иконок в шапке, размер 1ем */
{
  width: 1em;
  height: 1em;
}

/* Заголовок ------------------------------*/

.header-name /* Сток заголовок в шапке */
{
  margin: 0;
  flex: auto;
  font-size: 1em;
  line-height: 1em;
}
  .header-name.HEADER_ZenUI /* Заголовок в шапке при активном стиле шапки "ZenUI" */
  {
    color: var(--accent-color, #80cbc4);
  }
.header-name_main /* Заголовок в шапке в главном блоке в HTML-документе */
{
  padding-left: 1em;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .header_page /* Модификатор шапки, только для страниц, не являющихся главной в HTML-документе */
  {
    font-size: 1.5rem;
  }

  /* Иконки ------------------------------*/

  .header-icon /* Сток-контейнер иконок в шапке */
  {
    margin: 0 0.2em;
    padding: 0.7em;
    border-width: 0.1em;
  }
}
