/*------------------------------*/
/*---РАЗДЕЛ INTERACTIVE---------*/
/*------------------------------*/

.interactive /* вся область по дефолту (скрыта) */
{
  bottom: 0;
  width: 100%;
  height: 0;
  position: fixed;
}
.interactive_shown /* стиль всей области при показе */
{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
}

/* Контейнер (диалоговое окно) ------------------------------*/

.interactive-container /* контейнер по дефолту (скрыт) */
{
  height: 0;
  background-color: var(--secondary_bg-color);
  border-radius: 1em 1em 0 0;
  transform: translateY(100%);
  transition: 0.3s ease;
}
.interactive-container_shown /* контейнер при показе */
{
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  transform: translateY(0);
}

/* Блоки в контейнере ------------------------------*/

.interactive-content /* общие стили для контента в спойлере */
{
  padding: 1em 2em;
}
.interactive-block /* стиль блоков в спойлере по дефолту (скрыты) */
{
  display: none;
}
.interactive-block_shown /* стиль блоков в спойлере при показе */
{
  display: block;
}

.interactive-header
{
  margin-top: 0;
  text-align: center;
}

/* Кнопка-скрывашка снизу ------------------------------*/

.interactive-button /* стиль кнопки-скрывашки по дефолту (скрыта) */
{
  height: 0;
  text-align: center;
  vertical-align: middle;
  color: var(--secondary_text-color);
  border-top: 1px solid var(--secondary_text-color);
  cursor: pointer;
  transition: 0.3s ease;
}
.interactive-button:hover /* стиль кнопки-скрывашки при наведении */
{
  background-color: var(--secondary_text-color);
  color: var(--hover_bg-color);
}
.interactive-button_shown /* стиль кнопки-скрывашки при показе */
{
  height: auto;
}
.interactive-button::before /* псевдоэлемент, в котором хранится текст кнопки-скрывашки */
{
  content: "Отменить";
}

/* Блоки-ссылки на блоки в спойлере ------------------------------*/

.interactive-link /* стиль блоков-ссылок */
{
  cursor: pointer;
  transition: 0.3s ease;
}
.interactive-link:last-of-type /* стиль последнего блока-ссылки */
{
  border-bottom: 1px solid var(--main_border-color);
}
.interactive-link:hover /* стиль блоков-ссылок при наведении */
{
  background-color: var(--main_border-color);
}
.interactive-link_name /* стиль заголовков блоков-ссылок */
{
  margin: 0;
  padding: 0.5em 0;
  border-bottom: none;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .interactive /* вся область по дефолту (скрыта) */
  {
    font-size: 1rem;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4 - 6:5]--------*/
/*------------------------------*/

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  .interactive /* вся область по дефолту (скрыта) */
  {
    font-size: 0.8rem;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  .interactive_shown /* стиль всей области при показе */
  {
    flex-direction: column;
  }

  /* Блоки в контейнере ------------------------------*/

  .interactive-content /* общие стили для контента в спойлере */
  {
    padding: 1em;
  }

  /* Блоки-ссылки на блоки в спойлере ------------------------------*/

  .interactive-link_name /* стиль заголовков блоков-ссылок */
  {
    padding: 0;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  .interactive /* вся область по дефолту (скрыта) */
  {
    font-size: 0.75rem;
  }
  .interactive_shown /* стиль всей области при показе */
  {
    justify-content: center;
    align-items: center;
  }

  /* Контейнер (диалоговое окно) ------------------------------*/

  .interactive-container /* контейнер по дефолту (скрыт) */
  {
    border-radius: 1em;
    transform: translateY(0);
    opacity: 0;
  }
  .interactive-container_shown /* контейнер при показе */
  {
    opacity: 1;
  }

  /* Блоки в контейнере ------------------------------*/

  .interactive-content /* общие стили для контента в спойлере */
  {
    padding: 2em;
  }
  .interactive-block /* стиль блоков в спойлере по дефолту (скрыты, фикс неоправданно маленькой ширины) */
  {
    min-width: 15em;
  }

  /* Кнопка-скрывашка снизу ------------------------------*/

  .interactive-button_shown /* стиль кнопки-скрывашки при показе */
  {
    display: none;
  }
}
