/*------------------------------*/
/*---РАЗДЕЛ INTERACTIVE---------*/
/*------------------------------*/

.interactive /* вся область по дефолту (скрыта) */
{
  bottom: 0;
  width: 100%;
  height: 0;
  position: fixed;
}
.interactive_shown /* стиль всей области при показе */
{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
}
  .interactive_shown.interactive_OOS /* стиль всей области при показе (стиль OOS) */
  {
    justify-content: center;
    align-items: center;
  }

/* Контейнер (диалоговое окно) ------------------------------*/

.interactive-container /* контейнер по дефолту (скрыт) */
{
  height: 0;
  background-color: var(--secondary_bg-color, #424242);
  border-radius: var(--interactive_border-radius, 1em);
  transition: 0.3s ease;
}
  .interactive-container.interactive_OOS,
  .interactive-container.interactive_ZenUI /* контейнер по дефолту (скрыт) (стиль OOS и ZenUI) */
  {
    opacity: 0;
  }
.interactive-container_shown /* контейнер при показе */
{
  height: auto;
  display: flex;
  flex-direction: column-reverse;
}
  .interactive-container_shown.interactive_OOS,
  .interactive-container_shown.interactive_ZenUI /* контейнер при показе (стиль OOS и ZenUI) */
  {
    opacity: 1;
  }

/* Блоки в контейнере ------------------------------*/

.interactive-content /* общие стили для контента в спойлере */
{
  padding: 1em 2em;
}
.interactive-block /* стиль блоков в спойлере по дефолту (скрыты) */
{
  display: none;
}
.interactive-block_shown /* стиль блоков в спойлере при показе */
{
  display: block;
}

.interactive-header /* заголовок блока в диалоговом меню */
{
  margin-top: 0;
  text-align: center;
}

/* Кнопка-скрывашка снизу ------------------------------*/

.interactive-button /* стиль кнопки-скрывашки по дефолту (скрыта) */
{
  height: 0;
  text-align: center;
  vertical-align: middle;
  color: var(--secondary_text-color, #7a7a7a);
  border-top: 1px solid var(--secondary_text-color, #7a7a7a);
  cursor: pointer;
  transition: 0.3s ease;
}
  .interactive-button.interactive_OOS,
  .interactive-button.interactive_OneUI /* стиль кнопки-скрывашки по дефолту (скрыта) (стиль OOS и OneUI) */
  {
    color: var(--accent-color, #80cbc4);
    border-top: none;
    border-radius: inherit;
  }
  .interactive-button.interactive_RUI /* стиль кнопки-скрывашки по дефолту (скрыта) (стиль RUI) */
  {
    color: var(--secondary_text-color, #7a7a7a);
  }
  .interactive-button.interactive_ZenUI /* стиль кнопки-скрывашки по дефолту (скрыта) (стиль ZenUI) */
  {
    color: var(--accent-color, #80cbc4);
    border-radius: 0 0 var(--interactive_border-radius, 1em) var(--interactive_border-radius, 1em);
  }
.interactive-button:hover /* стиль кнопки-скрывашки при наведении */
{
  background-color: var(--secondary_text-color, #7a7a7a);
  color: var(--hover_bg-color, #1a1a1a);
}
  .interactive-button:hover.interactive_OOS,
  .interactive-button:hover.interactive_OneUI /* стиль кнопки-скрывашки при наведении (стиль OOS и OneUI) */
  {
    background-color: var(--accent-color, #80cbc4);
    color: var(--main_bg-color, black);
  }
  .interactive-button:hover.interactive_RUI /* стиль кнопки-скрывашки при наведении (стиль RUI) */
  {
    border-top: 1px solid rgba(0,0,0,0);
    margin: 0;
  }
.interactive-button_shown /* стиль кнопки-скрывашки при показе */
{
  height: auto;
}
  .interactive-button_shown.interactive_RUI /* стиль кнопки-скрывашки при показе (стиль RUI) */
  {
    margin: 0 1em 0 1em;
  }
.interactive-button::before /* псевдоэлемент, в котором хранится текст кнопки-скрывашки */
{
  content: "Отмена";
}
  .interactive-button.interactive_OneUI::before /* исключение для OneUI-стиля, текст кнопки-скрывашки */
  {
    content: "ОК";
  }

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .interactive /* вся область по дефолту (скрыта) */
  {
    font-size: 1rem;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4 - 6:5]--------*/
/*------------------------------*/

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  .interactive /* вся область по дефолту (скрыта) */
  {
    font-size: 0.8rem;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  .interactive_shown /* стиль всей области при показе */
  {
    flex-direction: column;
  }
    .interactive_shown.interactive_OneUI /* стиль всей области при показе (стиль OneUI) */
    {
      padding-bottom: 5%;
    }
    .interactive_shown.interactive_ZenUI /* стиль всей области при показе (стиль ZenUI) */
    {
      padding: 5%;
      width: 90%;
    }

  /* Контейнер (диалоговое окно) ------------------------------*/

  .interactive-container.interactive_RUI /* контейнер по дефолту (скрыт) (стиль RUI) */
  {
    border-radius: var(--interactive_border-radius, 1em) var(--interactive_border-radius, 1em) 0 0;
  }
  .interactive-container.interactive_RUI,
  .interactive-container.interactive_OneUI /* контейнер по дефолту (скрыт) (стиль RUI и OneUI) */
  {
    transform: translateY(100%);
  }
  .interactive-container_shown.interactive_RUI,
  .interactive-container_shown.interactive_OneUI /* контейнер при показе (стиль RUI и OneUI) */
  {
    transform: translateY(0);
  }

  /* Блоки в контейнере ------------------------------*/

  .interactive-content /* общие стили для контента в спойлере */
  {
    padding: 1em;
  }

  .interactive-container_shown.interactive_OOS .interactive-block_shown
  {
    min-width: 60vw; /* фикс блоков для OOS-стиля, дабы не было слишком узко */
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  .interactive /* вся область по дефолту (скрыта) */
  {
    font-size: 0.75rem;
  }
  .interactive_shown /* стиль всей области при показе */
  {
    justify-content: center;
    align-items: center;
  }

  /* Контейнер (диалоговое окно) ------------------------------*/

  .interactive-container /* контейнер по дефолту (скрыт) */
  {
    border-radius: var(--interactive_border-radius, 1em);
    opacity: 0;
  }
    .interactive-container.interactive_RUI,
    .interactive-container.interactive_OneUI /* контейнер по дефолту (скрыт) (стиль RUI и OneUI) */
    {
      transform: translateY(0);
    }
  .interactive-container_shown /* контейнер при показе */
  {
    opacity: 1;
  }

  /* Блоки в контейнере ------------------------------*/

  .interactive-content /* общие стили для контента в спойлере */
  {
    padding: 2em;
  }
  .interactive-block /* стиль блоков в спойлере по дефолту (скрыты, фикс неоправданно маленькой ширины) */
  {
    min-width: 15em;
  }

  /* Кнопка-скрывашка снизу ------------------------------*/

  .interactive-button_shown /* стиль кнопки-скрывашки при показе */
  {
    display: none;
  }
}
