/* Дефолтное --------------------------------------------------*/

.page /* дефолтные для всех страниц */
{
  margin: 0;
  padding: 0;
  background-color: var(--default_bg-color);
  color: var(--default_text-color);
  font-family: Arial, sans-serif;
  font-size: 24px;
}
.link-hidden /* дефолтные ссылки для всех страниц (никак не выделены) */
{
  text-decoration: none;
  color: inherit;
}

/* Внутристраничная навигация --------------------------------------------------*/

.page-block /* растяжение странички на весь экран + невидимость по дефолту */
{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-block:target /* выбранная страничка, отображать как блок */
{
  display: block;
}
.page-block:not(:target) /* все остальные странички, скрыть */
{
  display: none;
}

/* Шапка (header) --------------------------------------------------*/

.header
{
  padding: 2em 0;
  display: flex;
  border-bottom: 2px solid var(--default_border-color);
}
.header-nav
{
  padding: 0;
  display: block;
}
.header-main
{
  padding-left: 2em;
}
.header-name /* Заголовок в шапке */
{
  margin: 0;
  line-height: 1em;
  font-size: 2em;
}
.header-back_button
{
  margin: 0 0.5em;
  padding: 0;
  width: 1em;
  background: none no-repeat 50% 50%;
  background-size: contain;
  border: none;
  border-radius: 1em;
  font-size: 2em;
  cursor: pointer;
  transition: ease-out 0.3s;
}
.header-back_button:hover
{
  background-color: var(--accent-color);
  transform: scale(0.8);
}

/* Навигационное горизонтальное меню */

.nav
{
  line-height: 1.8em;
  font-size: 1.2em;
}
.nav-menu
{
  margin: inherit;
  padding: inherit;
  display: flex;
  justify-content: space-evenly;
}

.nav-item
{
  display: inline-block;
  transition: ease-out 0.3s;
}
.nav-item:hover
{
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.nav-item_header
{
  border-top: 2px solid var(--default_bg-color);
}
.nav-item_footer
{
  border-bottom: 2px solid var(--default_bg-color);
}
.nav-item_link
{
  padding: 5px 25px;
  display: flex;
}

/* Основное содержание (main) --------------------------------------------------*/

.main-content
{
  text-align: center;
  font-size: 1.2em;
}
.main-content_container
{
  padding: 0 4%;
  border-bottom: 1px solid var(--default_border-color);
  border-bottom-color:;
}
.main-content_container:last-of-type
{
  border-bottom: none;
}
.main-content_container:hover .main-content_container-header
{
  border-color: var(--accent-color);
}
.main-content_container-header
{
  margin: 40px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--default_bg-color);
  transition: ease-out 0.3s;
}

/* Пункты меню настроек */

.main-content_menu-item
{
  margin: 20px 0;
  height: 120px;
  text-align: left;
  border: 1px solid var(--default_bg-color);
  border-radius: 20px;
  transition: ease-out 0.3s;
}
.main-content_menu-item:hover
{
  background-color: var(--default_border-color);
  border-color: var(--accent-color);
}
.main-content_menu-item::before
{
  content: "";
  margin: 20px;
  width: 80px;
  height: 80px;
  float: left;
  background-size: 50% !important;
  background: var(--menu-item_bg-color) no-repeat 50% 50%;
  border-radius: 50%;
}

.menu-item_text
{
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu-item_name,
.menu-item_description
{
  margin: inherit;
  padding: 4px 0;
}
.menu-item_name
{
  font-size: 1em;
}
.menu-item_description
{
  color: var(--secondary_text-color);
  font-size: 0.6em;
}

/* Ссылки на сайты на стратовой странице */

.site
{
  margin: 1em;
  padding: 1em;
  background-color: var(--menu-item_bg-color);
  border: 2px solid var(--menu-item_bg-color);
  border-radius: 1em;
  transition: ease-out 0.3s;
}
.site:hover
{
  background-color: var(--site-hover_bg-color);
  border-color: var(--accent-color);
}
.site-img
{
  width: 100%;
  border-radius: inherit;
}
.site-name
{

}
.site-header
{
  margin: 0;
  line-height: 1.5em;
  font-size: 0.8em;
  border-bottom: 1px solid var(--site-header_border-color);
}
.site-description
{
  margin: 0;
  padding-top: 0.5em;
  color: var(--secondary_text-color);
  text-align: justify;
  font-size: 0.6em;
}

/* Оформление подстраниц в настройках */

.page-block_main
{
  font-size: 1.2em;
  padding: 0 5%;
}
.page-block_section
{
  border-bottom: 2px solid #212121;
}

/* Подвал (footer) --------------------------------------------------*/

.footer
{
  border-top: 2px solid var(--default_border-color);
}
.footer-container
{
  display: flex;
  justify-content: space-between;
}
.footer-text
{
  padding: 0 20px;
  color: var(--footer_text-color);
  font-size: 0.8em;
}
.sup
{
  font-size: 0.5em;
}
