/* Дефолтное --------------------------------------------------*/

:root
{
  font-size: 4vh;
}

.page /* дефолтные для всех страниц */
{
  margin: 0;
  padding: 0;
  background-color: var(--main_bg-color);
  color: var(--main_text-color);
  font-family: Arial, sans-serif;
}
.link-hidden /* дефолтные ссылки для всех страниц (никак не выделены) */
{
  text-decoration: none;
  color: inherit;
}

/* Внутристраничная навигация --------------------------------------------------*/

.page-block /* растяжение странички на весь экран + невидимость по дефолту */
{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
}
.page-block:target /* выбранная страничка, отображать как блок */
{
  display: block;
}
.page-block:not(:target) /* все остальные странички, скрыть */
{
  display: none;
}

/* Шапка (header) --------------------------------------------------*/

.header
{
  padding: 0;
  border-bottom: 2px solid var(--main_border-color);
  font-size: 2rem;
}
.header-main
{
  padding: 0 2.5rem;
}
.header-page
{
  display: flex;
}
.header-name /* Заголовок в шапке */
{
  margin: 0;
  padding: 2.5rem 0;
  font-size: 1em;
  line-height: 1em;
}
.header-name_nav
{
  padding: 2.5rem;
}
.header-back_button
{
  margin: 0.5em 0;
  padding: 0.7em;
  width: 1em;
  cursor: pointer;
  background: var(--header-back_button) no-repeat 50% 50%;
  background-size: 1em;
  border: 0.05em solid rgba(0,0,0,0);
  border-radius: 50%;
  transition: ease-out 0.3s;
}
.header-back_button:hover
{
  border-color: var(--accent-color);
  transform: scale(0.6);
}

/* Навигационное горизонтальное меню */

.nav
{
  font-size: 1rem;
  line-height: 2rem;
}
.nav-menu
{
  margin: inherit;
  padding: 0.2em;
  width: calc(100% - 0.4em);
  display: table;
  table-layout: fixed;
  list-style-type: none;
}

.nav-item
{
  display: table-cell;
  text-align: center;
  background-color: var(--secondary_bg-color);
  border: 2px solid var(--secondary_bg-color);
  border-radius: 0.5em;
  transform: scale(0.9);
  transition: ease-out 0.3s;
}
.nav-item:hover
{
  color: var(--accent-color);
  background-color: var(--hover_bg-color);
  border-color: var(--accent-color);
}
.nav-item_link
{
  display: block;
}

/* Основное содержание (main) --------------------------------------------------*/

.main-content
{
  text-align: center;
  font-size: 1rem;
}
.main-content_container
{
  padding: 0 4vw;
  border-bottom: 1px solid var(--main_border-color);
}
.main-content_container:last-of-type
{
  border-bottom: none;
}
.main-content_container:hover .main-content_container-header
{
  border-color: var(--accent-color);
}
.main-content_container-header
{
  margin: 1.2em 0;
  padding-bottom: 0.4em;
  border-bottom: 2px solid var(--main_bg-color);
  transition: ease-out 0.3s;
}

/* Пункты меню настроек */

.main-content_menu-item
{
  margin: 19px 0;
  height: 20vh;
  text-align: left;
  border: 1px solid var(--main_bg-color);
  border-radius: 20px;
  transition: ease-out 0.3s;
}
.main-content_menu-item:hover
{
  background-color: var(--hover_bg-color);
  border-color: var(--accent-color);
}
.main-content_menu-item::before
{
  content: "";
  margin: 20px;
  width: calc(20vh - 40px);
  height: calc(20vh - 40px);
  float: left;
  background-size: 50% !important;
  background: var(--secondary_bg-color) no-repeat 50% 50%;
  border-radius: 50%;
}

.menu-item_text
{
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu-item_name,
.menu-item_description
{
  margin: inherit;
  padding: 0.1rem 0;
}
.menu-item_name
{
  line-height: 1em;
  font-size: 1.2em;
}
.menu-item_description
{
  color: var(--secondary_text-color);
  line-height: 1.5em;
  font-size: 0.8em;
}

/* Ссылки на сайты на стратовой странице */

.site
{
  margin: 2.5vw;
  padding: 2.5vw;
  background-color: var(--secondary_bg-color);
  border: 2px solid var(--secondary_bg-color);
  border-radius: 2.5vw;
  transition: ease-out 0.3s;
}
.site:hover
{
  background-color: var(--hover_bg-color);
  border-color: var(--accent-color);
}
.site-img
{
  width: 100%;
  border-radius: inherit;
}
.site-header,
.site-description
{
  margin: 0;
}
.site-header
{
  line-height: 1.8em;
  font-size: 1em;
  border-bottom: 1px solid var(--secondary_text-color);
}
.site-description
{
  padding-top: 0.6em;
  text-align: justify;
  font-size: 0.6em;
  color: var(--secondary_text-color);
}

/* Оформление подстраниц в настройках */

.page-block_main
{
  text-align: left;
}

/* Подвал (footer) --------------------------------------------------*/

.footer
{
  border-top: 2px solid var(--main_border-color);
}
.footer-container
{
  display: flex;
  justify-content: space-between;
}
.footer-text
{
  margin: inherit;
  padding: 0.5em;
  color: var(--secondary_text-color);
  font-size: 0.8rem;
}
.sup
{
  font-size: 0.5em;
}
