/* Дефолтное --------------------------------------------------*/

:root
{
  font-size: 4vh; /* дефолтный шрифт */

  /* переменные */

  /* цвет акцента */
  --accent-color: #80cbc4;

  /* цветовая схема, цвета фона */
  --main_bg-color: black; /* основной */
  --secondary_bg-color: #141414; /* второстепенный */
  --hover_bg-color: #282828; /* при наведении */
  /* цветовая схема, цвета текста */
  --main_text-color: white; /* основной */
  --secondary_text-color: #bbb; /* второстепенный */
  /* цветовая схема, цвет бордеров */
  --main_border-color: #212121;
  /* цветовая схема, расположение иконок */
  --header-back_button: url(../icons/back-white.png); /* "назад" из хедера */
  --nav-menu_button: url(../icons/nav-menu_white.png); /* кнопка вызова меню на стартовой */
}

.page /* дефолтные для всех страниц */
{
  margin: 0;
  padding: 0;
  background-color: var(--main_bg-color);
  color: var(--main_text-color);
  font-family: Arial, sans-serif;
}
.link-hidden /* дефолтные ссылки для всех страниц (никак не выделены) */
{
  text-decoration: none;
  color: inherit;
}
.sup /* надстрочное начертание */
{
  font-size: 0.5em;
}

/* Внутристраничная навигация --------------------------------------------------*/

.page-block /* растяжение странички на весь экран + невидимость по дефолту */
{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
}
.page-block:target /* выбранная страничка, отображать как блок */
{
  display: block;
}
.page-block:not(:target) /* все остальные странички, скрыть */
{
  display: none;
}

/* Шапка (header) --------------------------------------------------*/

.header
{
  padding: 0;
  border-bottom: 2px solid var(--main_border-color);
  font-size: 2rem;
}
.header-main
{
  padding: 0 1em;
}
.header-page
{
  display: flex;
}
.header-name /* Заголовок в шапке */
{
  margin: 0;
  padding: 1em 0;
  font-size: 1em;
  line-height: 1em;
}
.header-name_nav /* Заголовок в шапке, где также присутсвует меню навигации */
{
  padding: 1em;
}
.header-back_button
{
  margin: 0.5em;
  width: 1.9em;
  height: 1.9em;
  cursor: pointer;
  background: var(--header-back_button) no-repeat 50% 50%;
  background-size: 1.2em;
  border: 0.05em solid rgba(0,0,0,0);
  border-radius: 50%;
  transition: ease-out 0.3s;
}
.header-back_button:hover
{
  border-color: var(--accent-color);
  transform: scale(0.6);
}

/* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

.header-nav
{
  text-align: center;
}
.show-menu_button-container
{
  display: none;
}

/* Навигационное горизонтальное меню */

.nav
{
  text-align: center;
  font-size: 1rem;
  line-height: 2em;
}
.nav-menu
{
  margin: inherit;
  padding-left: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  list-style-type: none;
}
.nav-item
{
  display: table-cell;
  transform: scale(0.8);
  transition: ease-out 0.3s;
}
.nav-item:hover
{
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.nav-item_header
{
  border-top: 2px solid var(--main_border-color);
}
.nav-item_footer
{
  border-bottom: 2px solid var(--main_border-color);
}
.nav-item_link
{
  display: block;
}

/* Основное содержание (main) --------------------------------------------------*/

.main-content
{
  text-align: center;
  font-size: 1rem;
}
.main-content_container
{
  padding: 0 4vw;
  border-bottom: 1px solid var(--main_border-color);
}
.main-content_container:last-of-type
{
  border-bottom: none;
}
.main-content_container:hover .main-content_container-name
{
  border-color: var(--accent-color);
}
.main-content_container-name
{
  margin: 1em 0;
  padding-bottom: 0.2em;
  border-bottom: 2px solid var(--main_bg-color);
  transition: ease-out 0.3s;
}

/* Меню внутристраничной навигации (окси-стилистика) */

.menu-item
{
  margin: 0.5em 0;
  height: 5em;
  text-align: left;
  border: 1px solid var(--main_bg-color);
  border-radius: 0.5em;
  transition: ease-out 0.3s;
}
.menu-item:hover
{
  background-color: var(--hover_bg-color);
  border-color: var(--accent-color);
}
.menu-item::before
{
  content: "";
  margin: 0.75em;
  width: 3.5em;
  height: 3.5em;
  float: left;
  background: var(--secondary_bg-color) no-repeat 50% 50%;
  background-size: 50%;
  border-radius: 50%;
}
.menu-item_text-container
{
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu-item_text
{
  margin: inherit;
  padding: 0.1em 0;
}
.menu-item_name
{
  font-size: 1.2em;
  line-height: 1.25em;
}
.menu-item_description
{
  color: var(--secondary_text-color);
  font-size: 0.8em;
  line-height: 1.875em;
}

/* Меню внешней навигации (стилистика рекомендаций из настроек) */

.navigation-item
{
  margin: 1em calc(1em + 10vw);
  background-color: var(--secondary_bg-color);
  border: 2px solid var(--secondary_bg-color);
  border-radius: 0.75em;
  transition: ease-out 0.3s;
}
.navigation-item:hover
{
  background-color: var(--hover_bg-color);
  border-color: var(--accent-color);
}
.navigation-item_img
{
  width: 100%;
  border-radius: inherit;
}
.navigation-item_text-container
{
  padding: 0.5em;
  padding-top: 0;
}
.navigation-item_name
{
  line-height: 1.6em;
  font-size: 1em;
  border-bottom: 1px solid var(--secondary_text-color);
}
.navigation-item_description
{
  padding-top: 0.6em;
  text-align: justify;
  font-size: 0.6em;
  color: var(--secondary_text-color);
}

/* Оформление подстраниц в настройках */

.page-block_main
{
  text-align: left;
}

/* Changelog (спойлеры) */

.changelog-container
{
  padding: 0.5em;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary_bg-color);
}
.changelog-container::before
{
  content: none;
}
.release-info
{
  display: flex;
  flex-direction: row;
}
.release-info_text-container
{
  padding: 0 1em;
  flex: 70%;
}
.spoiler-button
{
  padding: 0.4em;
  padding-left: 0;
  display: flex;
}
.button
{
  padding: 0.5em;
  cursor: pointer;
  color: var(--main_bg-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.25em;
  font-style: inherit;
  font-size: inherit;
}
.release-notes
{
  margin: 0;
  padding: 0.4em 1em;
  list-style-type: circle;
  color: var(--main_text-color);
  border-bottom: 1px solid var(--main_border-color);
}
.release-notes:last-of-type
{
  border-bottom: none;
}
.release-note
{
  color: var(--secondary_text-color);
  font-size: 0.8em;
}

.spoiler
{
  border-top: 1px solid var(--secondary_text-color);
}
.spoiler-hidden
{
  display: none;
}
.spoiler-shown
{
  display: block;
}

/* Подвал (footer) --------------------------------------------------*/

.footer
{
  border-top: 2px solid var(--main_border-color);
  font-size: 0.8rem;
}
.footer-container
{
  display: flex;
  justify-content: space-between;
}
.footer-text
{
  margin: inherit;
  padding: 0.5em;
  color: var(--secondary_text-color);
  font-size: 1em;
}
