/*------------------------------*/
/*---РАЗДЕЛ MAIN----------------*/
/*------------------------------*/

.main /* сток <main> и все блоки, выполняющие его роль */
{
  padding-top: calc(6rem + 2px);
  text-align: center;
  font-size: 1rem;
}

/* Секция ------------------------------*/

.main-section /* секции внутри <main> */
{
  padding: 1em 4vw;
  border-bottom: 1px solid var(--main_border-color, #1e1e1e);
}
  .main-section.UI_RUI,
  .main-section.UI_ZenUI /* секции внутри <main>, стиль UI RUI, ZenUI */
  {
    margin: 0 4vw;
    padding: 1em 0;
  }
  .main-section.UI_OneUI /* секции внутри <main>, стиль UI OneUI */
  {
    margin-bottom: 1em;
    background-color: var(--secondary_bg-color, #424242);
    border-radius: var(--main_border-radius, 0.5em);
    border-bottom: none;
  }
.main-section:last-of-type /* у последней секции нет бордера снизу */
{
  border-bottom: none;
}
.main-section_center /* секции внутри <main>, модификатор для центрирования */
{
  text-align: center;
}
.main-section::after /* фикс для нормальной работы с флоачеными плитками (невидимый псевдоэлемент в конце секции) */
{
  content: '';
  display: block;
  clear: both;
}

.section-container.UI_OneUI /* Фикс там, где свойства main-section не нужны */
{
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
}

/* Заголовок секции ------------------------------*/

.main-header /* заголовок секции */
{
  margin: 0.3em 0;
  padding: 0.2em 0;
  border-bottom: 2px solid var(--main_bg-color, black);
  transition: ease-out 0.3s;
}
.main-section:hover .main-header /* при наведении на содержимое секции ее заголовок подчеркивается снизу */
{
  border-color: var(--accent-color, #80cbc4);
}
#changelog .main-header::after /* Допись в заголовок секции в ченжлоге */
{
  content: " версия";
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .main /* сток <main> и все блоки, выполняющие его роль */
  {
    font-size: 1.25rem;
  }
  .main_page /* модификатор майна для второстепенных страниц при ВН */
  {
    padding-top: calc(4.5rem + 2px);
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4 - 6:5]--------*/
/*------------------------------*/

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  .main /* сток <main> и все блоки, выполняющие его роль */
  {
    font-size: 1.5rem;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Секция ------------------------------*/

  .main-section /* секции внутри <main> */
  {
    padding: 0.7em 1em;
  }
    .main-section.UI_RUI /* секции внутри <main>, стиль UI RUI */
    {
      margin: 0 1em;
      padding: 0.7em 0;
    }

  /* Заголовок секции ------------------------------*/

  .main-header /* заголовок секции */
  {
    margin: 0.5em 0;
  }
}
