/*------------------------------*/
/*---РАЗДЕЛ MAIN----------------*/
/*------------------------------*/

.main /* сток <main> и все блоки, выполняющие его роль */
{ 
  padding-top: calc(6 * var(--pc_font-size, 4vh) + 2px);
  text-align: center;
  font-size: 1em;
}
  .main.OneUI-mode /* сток <main> при активации OneUI mode */
  {
    padding-top: 50vh;
    -webkit-transition: var(--main_animation-duration, 0.3s);
    transition: var(--main_animation-duration, 0.3s);
  }
  .main.OneUI-mode.scroll /* сток <main> при активации OneUI mode и при скроллинге страницы */
  {
    padding-top: calc(6 * var(--pc_font-size, 4vh) + 2px);
    min-height: calc(100vh - 6 * var(--pc_font-size, 4vh) + 2px);
  }

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .main /* сток <main> и все блоки, выполняющие его роль */
  {
    padding-top: calc(6 * var(--mobile_font-size, 5vw) + 2px);
    font-size: 1.25em;
  }
    /**/
    .main.OneUI-mode /* сток <main> при активации OneUI mode */
    {
      padding-top: 45vh;
    }
    /**/
    .main.OneUI-mode.scroll /* сток <main> при активации OneUI mode и при скроллинге страницы */
    {
      padding-top: calc(6 * var(--mobile_font-size, 5vw) + 2px);
      min-height: calc(100vh - 6 * var(--mobile_font-size, 5vw) + 2px);
    }
  .main_page /* модификатор майна для второстепенных страниц при ВН */
  {
    padding-top: calc(4.5 * var(--mobile_font-size, 5vw) + 2px);
  }
    .main_page.OneUI-mode.scroll /* <main> на страничках ВН при активации OneUI mode и при скроллинге страницы */
    {
      padding-top: calc(4.5 * var(--mobile_font-size, 5vw) + 2px);
      min-height: calc(100vh - 4.5 * var(--mobile_font-size, 5vw));
    }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4 - 6:5]--------*/
/*------------------------------*/

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  .main /* сток <main> и все блоки, выполняющие его роль */
  {
    padding-top: calc(6 * var(--tablet_font-size, 4vw) + 2px);
    font-size: 1.5em;
  }
    .main.OneUI-mode.scroll /* сток <main> при активации OneUI mode и при скроллинге страницы */
    {
      padding-top: calc(6 * var(--tablet_font-size, 4vw) + 2px);
      min-height: calc(100vh - 6 * var(--tablet_font-size, 4vw) + 2px);
    }
}
