/*------------------------------*/
/*---РАЗДЕЛ MENU-TILE-----------*/
/*------------------------------*/

.menu-tile /* Контейнер/материнский блок плитки */
{
  margin: 1em 0;
  padding: 0.5em;
  width: calc(50% - 1em);
  height: 15em;
  display: flex;
  flex-direction: column-reverse; /* Инверсный порядок, иначе картинку не получится скрыть спойлером */
  justify-content: space-between;
  background-color: var(--secondary_bg-color, #424242);
  border: 2px solid var(--secondary_bg-color, #424242);
  border-radius: var(--main_border-radius, 0.5em) !important;
  box-sizing: border-box; /* Чтобы считало размеры с учетом бордеров и паддингов */
  transition: ease-out var(--main_animation-duration, 0.3s);
}
.menu-tile:hover /* Контейнер при наведении */
{
  background-color: var(--hover_bg-color, #1a1a1a);
  border-color: var(--accent-color, #80cbc4);
}

/* Содержимое плитки ------------------------------*/

.menu-tile_img /* Картинка-превью в плитке */
{
  height: 8em;
  object-fit: cover; /* Фикс для масштабирования, картинку теперь не растянет в колбасу */
  border-radius: inherit;
}
.menu-tile_name /* Заголовок плитки */
{
  justify-content: center;
}
.menu-tile_description /* Подробное описание, доступно при открытии спойлера */
{
  margin-top: 0.5em;
  padding-top: 0.4em;
  text-align: justify;
  color: var(--secondary_text-color, #7a7a7a);
  font-size: 0.6em;
}
.spoiler_tile[open] .menu-tile_description /* Граница и анимашка для содержимого спойлера плитки */
{
  border-top: 1px solid var(--secondary_text-color, #7a7a7a);
  animation: menu-tile_description 0.75s;
}
  @keyframes menu-tile_description {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .menu-tile /* Контейнер/материнский блок плитки */
  {
    height: auto;
  }

  /* Содержимое плитки ------------------------------*/

  .menu-tile_img /* Картинка-превью в плитке */
  {
    display: none;
  }
  .menu-tile_name /* Заголовок плитки */
  {
    padding-bottom: 0.5em;
  }
  .spoiler_tile[open] .menu-tile_description /* Фикс наслоения <summary> для содержимого спойлера плитки */
  {
    padding-bottom: 4.5em;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  .menu-tile /* Контейнер/материнский блок плитки */
  {
    width: auto;
  }

  /* Содержимое плитки ------------------------------*/

  .menu-tile_description /* Подробное описание, доступно при открытии спойлера */
  {
    padding-top: 0.6em;
  }
}
