/*------------------------------*/
/*---РАЗДЕЛ NAV-----------------*/
/*------------------------------*/

.nav /* материнский блок */
{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1em;
}

/* Шапка с временем ------------------------------*/

.nav-header
{
  display: flex;
  flex: auto;
  align-items: center;
  font-size: 2em;
}

/* Разметка (контейнеры) ------------------------------*/

.nav-container /* контейнер для всего меню */
{
  height: 16em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-row /* контейнер-строка */
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Стиль пунктов меню ------------------------------*/

.nav-item /* пункт меню */
{
  width: 8em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-out 0.3s;
}
.nav-item:hover /* пункт меню при наведении */
{
  transform: scale(0.85);
}
.nav-icon /* контейнер иконки пункта меню */
{
  margin-bottom: 0.5em;
  padding: 1em;
  width: 3em;
  height: 3em;
  background-color: var(--icon_bg-color);
  border-radius: var(--icon_border-radius);
  transition: ease-out 0.3s;
}
.nav-item:hover .nav-icon /* иконка пункта меню при наведении на пункт меню */
{
  background-color: var(--accent-color);
}
  .nav-icon_svg /* свг-порт иконки пункта меню */
  {
    width: inherit;
    height: inherit;
  }
.nav-item:hover .nav-name /* название пункта меню при наведении на пункт меню */
{
  color: var(--accent-color);
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  /* Шапка с временем ------------------------------*/

  .nav-header
  {
    /* padding-top: 1em; */
    font-size: 3em;
  }

  /* Разметка (контейнеры) ------------------------------*/

  .nav-container /* контейнер для всего меню */
  {
    padding: 2em 0;
  }

  /* Стиль пунктов меню ------------------------------*/

  .nav-item /* пункт меню */
  {
    width: 6em;
    height: 6em;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Разметка (контейнеры) ------------------------------*/

  .nav-container /* контейнер для всего меню */
  {
    height: 14em;
    padding-bottom: 1em;
    justify-content: flex-end;
  }

  /* Стиль пунктов меню ------------------------------*/

  .nav-item /* пункт меню */
  {
    width: 6.5em;
    height: 6.5em;
  }
  .nav-icon /* иконка пункта меню */
  {
    margin-bottom: 0.5em;
    padding: 0.8em;
    width: 2.5em;
    height: 2.5em;
  }
}
