@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  /* Дефолтное --------------------------------------------------*/

  :root
  {
    font-size: 5vw; /* дефолтный шрифт */
  }

  /* Шапка (header) --------------------------------------------------*/

  .header-page
  {
    font-size: 1.5rem;
  }
  .header-page .header-name
  {
    padding: 1.5em 0;
  }
  .header-name_nav /* Заголовок в шапке, где также присутсвует меню навигации */
  {
    padding: 0;
    flex: 80%;
    text-align: left;
  }
  .header-back_button
  {
    margin: 0;
    width: 2.5em;
    height: 2.5em;
    border-width: 0.1em;
  }

  /* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

  .header-nav
  {
    padding: 1em;
    display: flex;
    flex-direction: row;
  }
  .show-menu_button-container
  {
    display: flex;
  }
  .nav-menu_button
  {
    background: var(--nav-menu_button) no-repeat 50% 50%;
    background-size: 1em;
  }

  /* Основное содержание (main) --------------------------------------------------*/

  .main-content
  {
    font-size: 1.25rem;
  }

  /* Подвал (footer) --------------------------------------------------*/

  .footer
  {
    font-size: 1rem;
  }

  /* Менюшки --------------------------------------------------*/

  /* Навигационное горизонтальное меню на стартовой */

  #nav
  {
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--main_bg-color);
    border-top: 2px solid var(--accent-color);
    border-radius: 0.5em 0.5em 0 0;
  }
  .nav
  {
    font-size: 2rem;
  }
  .nav-hidden
  {
    display: none;
  }
  .nav-shown
  {
    display: block;
  }

  /* Меню внутристраничной навигации (окси-стилистика) */

  /* Меню внешней навигации (стилистика рекомендаций из настроек) */

  .navigation-item
  {
    border-radius: 0.8em;
  }
  .navigation-item_img
  {
    display: none;
  }

  /* Интерактивные элементы --------------------------------------------------*/

  /* дефолтные радиокнопки */

  /* дефолтные кнопки */

  /* Другое --------------------------------------------------*/

  /* Оформление подстраниц в настройках */

  /* Changelog (спойлеры) */

  /* #About (об устройстве) */

}

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  /* Дефолтное --------------------------------------------------*/

  :root
  {
    font-size: 4vw; /* дефолтный шрифт */
  }

  /* Шапка (header) --------------------------------------------------*/

  /* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

  .header-nav
  {
    padding: 0;
    display: block;
  }
  .header-name_nav /* Заголовок в шапке, где также присутсвует меню навигации */
  {
    padding: 1em;
    text-align: center;
  }
  .show-menu_button-container
  {
    display: none;
  }

  /* Основное содержание (main) --------------------------------------------------*/

  .main-content
  {
    font-size: 1.5rem;
  }

  /* Подвал (footer) --------------------------------------------------*/

  /* Менюшки --------------------------------------------------*/

  /* Навигационное горизонтальное меню на стартовой */

  #nav
  {
    position: inherit;
    background: none;
    border: none;
  }
  .nav
  {
    font-size: 1rem;
  }
  .nav-hidden
  {
    display: block;
  }

  /* Меню внутристраничной навигации (окси-стилистика) */

  /* Меню внешней навигации (стилистика рекомендаций из настроек) */

  .navigation-item_img
  {
    display: block;
  }

  /* Интерактивные элементы --------------------------------------------------*/

  /* дефолтные радиокнопки */

  /* дефолтные кнопки */

  /* Другое --------------------------------------------------*/

  /* Оформление подстраниц в настройках */

  /* Changelog (спойлеры) */

  /* #About (об устройстве) */
}

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Дефолтное --------------------------------------------------*/

  /* Шапка (header) --------------------------------------------------*/

  /* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

  /* Основное содержание (main) --------------------------------------------------*/

  .main-content_container
  {
    padding: 0 1em;
  }

  /* Подвал (footer) --------------------------------------------------*/

  .footer-container
  {
    padding: 1em;
    align-items: center;
    flex-direction: column;
  }
  .footer-text
  {
    padding: 0.1em;
    font-size: 0.8em;
  }

  /* Менюшки --------------------------------------------------*/

  /* Навигационное горизонтальное меню на стартовой */

  .nav-item
  {
    display: block;
    background-color: var(--secondary_bg-color);
    border: 2px solid var(--secondary_bg-color);
    border-radius: 0.5em;
  }
  .nav-item:first-of-type
  {
    margin-top: 0.2em;
  }
  .nav-item:last-of-type
  {
    margin-bottom: 0.2em;
  }
  .nav-item:hover
  {
    background-color: var(--hover_bg-color);
  }

  /* Меню внутристраничной навигации (окси-стилистика) */

  .menu-item
  {
    height: 3em;
  }
  .menu-item::before
  {
    margin: 0.4em;
    width: 2.2em;
    height: 2.2em;
  }
  .menu-item_text
  {
    padding: 0.05em 0;
  }
  .menu-item_name
  {
    font-size: 0.8em;
    line-height: 1.25em;
  }
  .menu-item_description
  {
    font-size: 0.5em;
    line-height: 2em;
  }

  /* Меню внешней навигации (стилистика рекомендаций из настроек) */

  .navigation-item
  {
    margin: 0.8em;
    border-radius: 0.4em;
  }
  .navigation-item_name
  {
    line-height: 1.5em;
  }
  .navigation-item_description
  {
    padding-top: 0.6em;
  }

  /* Интерактивные элементы --------------------------------------------------*/

  /* дефолтные радиокнопки */

  /* дефолтные кнопки */

  /* Другое --------------------------------------------------*/

  /* Оформление подстраниц в настройках */

  /* Changelog (спойлеры) */

  .changelog-container
  {
    padding: 0.5em;
    height: auto;
  }
  .release-info_text-container
  {
    padding: 0 0.2em;
  }
  .release-notes
  {
    font-size: 0.8em;
  }
  .release-note
  {
    font-size: 0.65em;
  }

  /* #About (об устройстве) */

  .about-header
  {
    height: 10em;
  }
}

@media (min-aspect-ratio: 16/9) /* широкие мониторы, фикс отступов основного навигационного меню */
{
  .navigation-item
  {
    margin: 1em calc(50% - 400px);
  }
}
