@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  /* Дефолтное --------------------------------------------------*/

  :root
  {
    font-size: 5vw; /* дефолтный шрифт */
  }

  /* Шапка (header) --------------------------------------------------*/

  .header_page /* Модификатор шапки, только для страниц, не являющихся главной в HTML-документе */
  {
    font-size: 1.5rem;
  }
  .header-back_icon /* Контейнер иконки "назад" в шапке */
  {
    margin: 0.7em 0;
    padding: 0.7em;
    border-width: 0.1em;
  }
  .header-name_main /* Заголовок в шапке на главной в HTML-документе странице */
  {
    padding-right: 0;
    flex: 80%;
    text-align: left;
  }

  /* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

  .header_nav /* Модификатор шапки, только те, что содержат в себе меню навигации */
  {
    display: flex;
    flex-direction: row;
  }
  .header-nav_icon /* Контейнер иконки "меню" в шапке */
  {
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    cursor: pointer;
  }
  .header-nav_icon:hover rect /* Контейнер иконки "назад" в шапке при наведении */
  {
    fill: var(--accent-color);
  }

  /* Основное содержание (main) --------------------------------------------------*/

  .main-content
  {
    font-size: 1.25rem;
  }

  /* Подвал (footer) --------------------------------------------------*/

  .footer
  {
    font-size: 1rem;
  }

  /* Менюшки --------------------------------------------------*/

  /* Навигационное горизонтальное меню на стартовой */

  #nav
  {
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--main_bg-color);
    border-top: 2px solid var(--accent-color);
    border-radius: 0.5em 0.5em 0 0;
  }
  .nav
  {
    font-size: 2rem;
  }
  .nav_hidden
  {
    display: none;
  }
  .nav_shown
  {
    display: block;
  }

  /* Меню внутристраничной навигации (окси-стилистика) */

  /* Меню внешней навигации (стилистика рекомендаций из настроек) */

  .navigation-item
  {
    border-radius: 0.8em;
  }
  .navigation-item_img
  {
    display: none;
  }

  /* Интерактивные элементы --------------------------------------------------*/

  /* дефолтные радиокнопки */

  /* дефолтные кнопки */

  /* Другое --------------------------------------------------*/

  .txt-in-pc
  {
    display: none;
  }
  .txt-in-mobile
  {
    display: block;
  }

  /* Оформление подстраниц в настройках */

  /* Changelog (спойлеры) */

  /* #About (об устройстве) */

  .about-header_img
  {
    background: url(../icons/op7p.png) no-repeat 50% 50%;
    background-size: 10em;
  }
  .about-container
  {
    height: 5em;
  }

  .about-header_specs .menu-item_text-container:nth-of-type(2) .about_primary-text::before
  {
    content: "хранилище";
  }
  .about-header_specs .menu-item_text-container:nth-of-type(2) .about_secondary-text::before
  {
    content: "8GB RAM + 128GB ROM";
  }
  .about-header_specs .menu-item_text-container:nth-of-type(3) .about_primary-text::before
  {
    content: "камера";
  }
  .about-header_specs .menu-item_text-container:nth-of-type(3) .about_secondary-text::before
  {
    content: "48 + 16 + 8 MP Triple Camera";
  }
  .about-header_specs .menu-item_text-container:last-of-type .about_secondary-text::before
  {
    content: 'Fluid AMOLED 6,67" Display';
  }

  .about-section:first-of-type .about-container:first-of-type .about_secondary-text::before
  {
    content: "Правильный смартфон";
  }
  .about-section:first-of-type .about-container:nth-of-type(2) .about_secondary-text::before
  {
    content: "OnePlus 7 Pro";
  }
  .about-section:nth-of-type(2) .about-container:first-of-type .about_primary-text::before
  {
    content: "Версия Android";
  }
  .about-section:nth-of-type(2) .about-container:first-of-type .about_secondary-text::before
  {
    content: "10";
  }
}

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  /* Дефолтное --------------------------------------------------*/

  :root
  {
    font-size: 4vw; /* дефолтный шрифт */
  }

  /* Шапка (header) --------------------------------------------------*/

  /* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

  /* Основное содержание (main) --------------------------------------------------*/

  .main-content
  {
    font-size: 1.5rem;
  }

  /* Подвал (footer) --------------------------------------------------*/

  /* Менюшки --------------------------------------------------*/

  /* Навигационное горизонтальное меню на стартовой */

  #nav
  {
    position: inherit;
    background: none;
    border: none;
  }
  .nav
  {
    font-size: 1rem;
  }
  .nav_hidden
  {
    display: block;
  }
  .nav_settings
  {
    display: none;
  }

  /* Меню внутристраничной навигации (окси-стилистика) */

  /* Меню внешней навигации (стилистика рекомендаций из настроек) */

  /* Интерактивные элементы --------------------------------------------------*/

  /* дефолтные радиокнопки */

  /* дефолтные кнопки */

  /* Другое --------------------------------------------------*/

  /* Оформление подстраниц в настройках */

  /* Changelog (спойлеры) */

  /* #About (об устройстве) */

  .about-container
  {
    height: 4em;
  }
}

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Дефолтное --------------------------------------------------*/

  /* Шапка (header) --------------------------------------------------*/

  /* Навигационное горизонтальное меню, заголовок и кнопка для вызова меню */

  /* Основное содержание (main) --------------------------------------------------*/

  .main-content_container
  {
    padding: 0 1em;
  }

  /* Подвал (footer) --------------------------------------------------*/

  .footer-container
  {
    padding: 1em;
    align-items: center;
    flex-direction: column;
  }
  .footer-text
  {
    padding: 0.1em;
    font-size: 0.8em;
  }

  /* Менюшки --------------------------------------------------*/

  /* Навигационное горизонтальное меню на стартовой */

  .nav-item
  {
    display: block;
    background-color: var(--secondary_bg-color);
    border: 2px solid var(--secondary_bg-color);
    border-radius: 0.5em;
  }
  .nav-item:first-of-type
  {
    margin-top: 0.2em;
  }
  .nav-item:last-of-type
  {
    margin-bottom: 0.2em;
  }
  .nav-item:hover
  {
    background-color: var(--hover_bg-color);
  }

  /* Меню внутристраничной навигации (окси-стилистика) */

  .menu-item
  {
    height: 3em;
  }
  .menu-item_icon
  {
    margin: 0.4em;
    padding: 0.4em;
    width: 1.4em;
    height: 1.4em;
  }
    .menu-item_svg /* Свг-порт для иконок в окси-меню */
    {
      width: 1.4em;
      height: 1.4em;
    }
  .menu-item_text
  {
    padding: 0.05em 0;
  }
  .menu-item_name
  {
    font-size: 0.8em;
    line-height: 1.25em;
  }
  .menu-item_description
  {
    font-size: 0.5em;
    line-height: 2em;
  }

  /* Меню внешней навигации (стилистика рекомендаций из настроек) */

  .navigation-item
  {
    margin: 0.8em;
    border-radius: 0.4em;
  }
  .navigation-item_name
  {
    line-height: 1.5em;
  }
  .navigation-item_description
  {
    padding-top: 0.6em;
  }

  /* Интерактивные элементы --------------------------------------------------*/

  /* дефолтные радиокнопки */

  /* дефолтные кнопки */

  /* СПОЙЛЕРЫ --------------------------------------------------*/

  /* Базовые стили */

  .spoiler-container /* контейнер со спойлером */
  {
    padding: 0.25em;
    height: auto;
  }

  /* #changelog */

  .spoiler_changelog /* модификация контейнера для раздела "Список изменений" */
  {
    height: 2.4em;
  }
  .spoiler-button_changelog /* модификация кнопки для раздела "Список изменений" */
  {
    margin: 0.25em;
    padding: 0.25em;
    height: 2em;
    font-size: 0.8em;
  }

  /* Другое --------------------------------------------------*/

  /* Оформление подстраниц в настройках */

  /* Changelog (спойлеры) */

  .release-info
  {
    padding: 0 0.25em;
    height: 2.4em;
  }
  .release-notes
  {
    font-size: 0.8em;
  }
  .release-notes:first-of-type
  {
    padding-top: 3.5em;
  }
  .release-note
  {
    font-size: 0.6em;
  }

  /* #About (об устройстве) */

  .about-header
  {
    height: 10em;
  }
  .about-section
  {
    padding: 0.75em 0;
  }
  .about-container:nth-of-type(odd)
  {
    padding-right: 0.75em;
  }
  .about-container:nth-of-type(even)
  {
    padding-left: 0.75em;
  }
}

@media (min-aspect-ratio: 16/9) /* широкие мониторы, фикс отступов основного навигационного меню */
{
  .navigation-item
  {
    margin: 1em calc(50% - 400px);
  }
}
