/*------------------------------*/
/*---РАЗДЕЛ RADIO--------------*/
/*------------------------------*/

/* Стоковые радиокнопки ------------------------------*/

.radio-label /* лейблы для радиокнопок */
{
  display: block;
  cursor: pointer;
  line-height: 2.4em;
}
  .radio-label.hidden-label /* скрытые лейблы для радиокнопок */
  {
    display: none;
  }
  .radio-label_inline /* лейблы для радиокнопок в строчку (горизонтальные) */
  {
    display: inline-block;
  }
[type="radio"] /* Фикс видимости инпутов для радиокнопок */
{
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
[type="radio"] + .radio-name /* текст подписи радиокнопки */
{
  display: block;
}
.label_custom-colored .radio-name /* текст подписи крашенной радиокнопки */
{
  color: var(--accent-color, #80cbc4);
}
[type="radio"] + .radio-name::before /* стиль неотмеченной радиокнопки */
{
  content: '';
  margin: 0 0.6em;
  width: 0.6em;
  height: 0.6em;
  vertical-align: -0.3em;
  display: inline-block;
  border: 0.3em solid var(--main_bg-color, black);
  border-radius: 0.6em;
  box-shadow: 0 0 0 0.1em var(--radio_nonactive-color, #898989);
  transition: var(--main_animation-duration, 0.3s) ease all;
}
.article.UI_OneUI [type="radio"] + .radio-name::before /* стиль неотмеч. радиокнопки при акт. стиле UI OneUI */
{
  border: 0.3em solid var(--secondary_bg-color, #424242);
}
[type="radio"]:checked + .radio-name::before /* стиль отмеченной радиокнопки */
{
  background-color: var(--accent-color, #80cbc4);
  box-shadow: 0 0 0 0.1em var(--accent-color, #80cbc4);
}
.label_custom-colored [type="radio"] + .radio-name::before /* стиль неотмеченной радиокнопки в крашеных лейблах */
{
  box-shadow: 0 0 0 0.1em var(--accent-color, #80cbc4);
}
.interactive-container [type="radio"] + .radio-name::before /* стиль неотмеченной радиокнопки в диалоговом окне */
{
  border-color: var(--secondary_bg-color, #424242); /* да, там другой фон */
}

/* Квадратные чекбоксы с галочкой посередине (для акцента) ------------------------------*/

[type="radio"] + .square-checkbox::before /* стиль неотмеченного квадратного чекбокса (с галочкой посередине) */
{
  content: '✓';
  margin: 0.2em;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color, #80cbc4);
  color: var(--accent-color, #80cbc4);
  font-size: 2.5em;
  transition: var(--main_animation-duration, 0.3s) ease;
}
[type="radio"]:checked + .square-checkbox::before /* стиль отмеченного квадратного чекбокса (с галочкой посередине) */
{
  color: var(--main_bg-color, black);
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Квадратные чекбоксы с галочкой посередине (для акцента) ------------------------------*/

  [type="radio"] + .square-checkbox::before /* стиль неотмеченного квадратного чекбокса (с галочкой посередине) */
  {
    font-size: 1.25em;
  }
}