/*------------------------------*/
/*---РАЗДЕЛ ROOT----------------*/
/*------------------------------*/

:root
{
  /* цвет акцента */

  --accent-color: #42a5f6;
  --accent_opacity-color: rgba(66,165,246,0.5);

  /* цветовая схема, цвета фона */

  --main_bg-color: #000; /* основной */
  --secondary_bg-color: #1f1f1f; /* второстепенный */
  --icon_bg-color: #141414; /* дефолтный фон иконок */
  --hover_bg-color: #1a1a1a; /* при наведении */

  /* цветовая схема, цвета текста */

  --main_text-color: #d8d8d8; /* основной */
  --secondary_text-color: #898989; /* второстепенный */

  /* цветовая схема, цвета границ */

  --main_border-color: #1e1e1e; /* цветовая схема, цвет бордеров */

  /* цветовая схема, цвета инпутов */

  --radio_nonactive-color: #898989; /* цвет неотмеченной радиокнопки */
  --switch_nonactive-color: #3d3d3d; /* цвет неотмеченного переключателя */
  --switch-before_nonactive-color: #d1d1d1; /* цвет кружочка неотмеченного переключателя */

  /* Радиус закруглений */

  --main_border-radius: 0.5em; /* Основной */
  --interactive_border-radius: 1em; /* Диалоговое окно */
  --button_border-radius: 0.25em; /* Кнопки */
  --icon_border-radius: 50%; /* Иконки */

  /* Шрифт */

  --main_font-family: Arial; /* Основной */

  /* Масштаб интерфейса (базовый размер шрифта) */

  --pc_font-size: 4vh; /* Размер шрифта комповой версии */
  --tablet_font-size: 4vw; /* Размер шрифта 3:4 - 6:5 */
  --mobile_font-size: 5vw; /* Размер шрифта мобильной версии */

  /* Длительность анимации */

  --main_animation-duration: 0.3s;

  /* Стоковая высота шапки при OneUI mode */

  --oneui-mode_header-height: 50vh;
}
