/*------------------------------*/
/*---РАЗДЕЛ ROOT----------------*/
/*------------------------------*/

:root
{
  font-size: 4vh; /* дефолтный шрифт */

  /* переменные */

  /* цвет акцента */
  --accent-color: #80cbc4;

  /* цветовая схема, цвета фона */
  --main_bg-color: black; /* основной */
  --secondary_bg-color: #141414; /* второстепенный */
  --hover_bg-color: #282828; /* при наведении */
  /* цветовая схема, цвета текста */
  --main_text-color: white; /* основной */
  --secondary_text-color: #bbb; /* второстепенный */
  /* цветовая схема, цвет бордеров */
  --main_border-color: #212121;
}

/* Стили <body> и иммитирующих его блоков ------------------------------*/

.page /* дефолтные <body> */
{
  margin: 0;
  background-color: var(--main_bg-color);
  color: var(--main_text-color);
  font-family: Arial, sans-serif;
}
.page-block:not(:target) /* все блоки внутристраничной навигации, кроме выбранной - скрыть */
{
  display: none;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  :root
  {
    font-size: 5vw; /* дефолтный шрифт */
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4 - 6:5]--------*/
/*------------------------------*/

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) /* диапазон 3:4 - 6:5 */
{
  :root
  {
    font-size: 4vw; /* дефолтный шрифт */
  }
}
