/*------------------------------*/
/*---РАЗДЕЛ SPOILER-------------*/
/*------------------------------*/

/* Стили контейнера ------------------------------*/

.spoiler-container /* контейнер со спойлером */
{
  padding: 0.5em;
  height: auto;
  background-color: var(--secondary_bg-color, #424242);
}

/* Стили <details> в #changelog (кнопка сбоку) ------------------------------*/

.spoiler_changelog /* модификация контейнера для раздела "Список изменений" */
{
  height: 3.5em;
}
.spoiler_changelog[open]
{
  height: auto;
}

/* Стили <details> в плиточном меню (замена картинки на описание при нажатии) ------------------------------*/

.spoiler_tile[open] /* Спойлер в плитке при открытии */
{
  height: 11.8em;
  position: relative; /* Фикс для суммари снизу, 1 часть */
}
.spoiler_tile[open] + .menu-tile_img /* Скрытие картинки-превью при открытии спойлера в плитке */
{
  height: 0;
}

/* Базовые стили <summary> ------------------------------*/

.spoiler-button /* дефолтный стиль кнопки */
{
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main_bg-color, black);
  background-color: var(--accent-color, #80cbc4);
  border-radius: var(--button_border-radius, 0.25em);
  cursor: pointer;
}
.spoiler-button::after /* дефолтная подпись суммари (псевдоэлемент) */
{
  content: "Показать";
}
.spoiler[open] .spoiler-button::after /* изменение текста кнопки (псевдоэлемент) при раскрытии спойлера */
{
  content: "Скрыть";
}
.spoiler-button:focus /* фикс выделения суммари */
{
  outline: none;
}
.spoiler .spoiler-button::-webkit-details-marker { /* фикс дефолтного треугольничка у суммари */
  display: none;
}

/* Стили <summary> в #changelog (кнопка сбоку) ------------------------------*/

.spoiler-button_changelog /* модификация кнопки для раздела "Список изменений" */
{
  width: 5em;
  height: 1.5em;
  float: right;
}

/* Стили <summary> в плиточном меню (замена картинки на описание при нажатии) ------------------------------*/

.spoiler-button_tile /* Убирает маргины у дефолтного <summary>, ведь в плитке они задаются через паддинг контейнера */
{
  margin: 0;
}
.spoiler_tile[open] .spoiler-button_tile /* Фикс для суммари снизу, 2 часть */
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.spoiler-button_tile::after /* Надпись в <symmary> при неоткрытом спойлере плитки */
{
  content: "Подробнее"
}

/* Стили для контента ------------------------------*/

.spoiler-content /* дефолтный класс для содержимого спойлера */
{
  padding: 0 0.5em;
}
.spoiler .spoiler-content /* фикс видимости для длинных спойлеров */
{
  overflow: hidden;
}
.spoiler[open] .spoiler-content /* анимация контента при раскрытии спойлера */
{
  animation: spoiler-content 2s;
}
  @keyframes spoiler-content {
    0%   {max-height: 0;}
    100% {max-height: 40em;}
  }

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  /* Стили <details> в плиточном меню (замена картинки на описание при нажатии) ------------------------------*/

  .spoiler_tile[open] /* Спойлер в плитке при открытии */
  {
    height: auto;
  }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Стили контейнера ------------------------------*/

  .spoiler-container /* контейнер со спойлером */
  {
    padding: 0.25em;
    height: auto;
  }

  /* Стили <details> в #changelog (кнопка сбоку) ------------------------------*/

  .spoiler_changelog /* модификация контейнера для раздела "Список изменений" */
  {
    height: 2.4em;
  }

  /* Стили <summary> в #changelog (кнопка сбоку) ------------------------------*/

  .spoiler-button_changelog /* модификация кнопки для раздела "Список изменений" */
  {
    margin: 0.25em;
    padding: 0.25em;
    height: 2em;
    font-size: 0.8em;
  }
}
