/*------------------------------*/
/*---РАЗДЕЛ SWITCH--------------*/
/*------------------------------*/

.switch-container /* тумблерный контейнер (текстовый контейнер-ссылка + лейбл с переключателем в строчку) */
{
  display: flex;
  justify-content: space-between;
  border-radius: inherit;
}

/* Лейбл с переключателем ------------------------------*/

.switch-label /* Лейбл */
{
  height: inherit;
  width: 100%;
  justify-content: space-between;
}

/* Дорожка ------------------------------*/

.switch
{
  -webkit-transition: var(--main_animation-duration, 0.3s);
  transition: var(--main_animation-duration, 0.3s);
}
  .switch.switch_OOS,
  .switch.switch_OneUI,
  .switch.switch_ZenUI
  {
    position: relative;
  }
  .switch.switch_OOS,
  .switch.switch_OneUI
  {
    border: solid var(--switch_nonactive-color, #4d4d4d);
  }
  .switch.switch_RUI
  {
    background-color: var(--radio_nonactive-color, #898989);
  }
  .switch.switch_ZenUI
  {
    background-color: var(--switch_nonactive-color, #4d4d4d);
  }

/* Кружочек ------------------------------*/

.switch:before
{
  content: '';
  display: block;
  border-radius: 50%;
  -webkit-transition: var(--main_animation-duration, 0.3s);
  transition: var(--main_animation-duration, 0.3s);
}
  .switch.switch_OOS:before,
  .switch.switch_OneUI:before,
  .switch.switch_ZenUI:before
  {
    position: absolute;
    background-color: var(--switch-before_nonactive-color, #b9b9b9);
  }
  .switch.switch_RUI:before
  {
    background-color: var(--radio_nonactive-color, #898989);
    border: solid var(--switch-before_nonactive-color, #b9b9b9);
  }
  .switch.switch_OneUI:before
  {
    border: solid var(--switch_nonactive-color, #4d4d4d);
  }
  .switch.switch_ZenUI:before
  {
    background-color: var(--switch-before_nonactive-color, #b9b9b9);
  }

/* Дорожка при отмеченном инпуте ------------------------------*/

  input:checked + .switch.switch_OOS,
  input:checked + .switch.switch_OneUI
  {
    border-color: var(--accent_opacity-color, rgba(128,203,196,0.6));
  }
  input:checked + .switch.switch_RUI,
  input:checked + .switch.switch_OneUI
  {
    background-color: var(--accent-color, #80cbc4);
  }
  input:checked + .switch.switch_ZenUI
  {
    background-color: var(--accent_opacity-color, rgba(128,203,196,0.6));
  }

/* Дорожка, когда инпут в фокусе ------------------------------*/

input:focus + .switch
{
  box-shadow: 0 0 1px var(--accent-color, #80cbc4);
}

/* Кружочек при отмеченном инпуте ------------------------------*/

  input:checked + .switch.switch_OOS:before,
  input:checked + .switch.switch_ZenUI:before
  {
    background-color: var(--accent-color, #80cbc4);
  }
  input:checked + .switch.switch_RUI:before
  {
    background-color: var(--switch-before_nonactive-color, #b9b9b9);
  }
  input:checked + .switch.switch_OneUI:before
  {
    border-color: var(--accent-color, #80cbc4);
  }

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Дорожка ------------------------------*/

    .switch.switch_OOS
    {
      margin: 0.485em;
      height: 0.7em;
      width: 1.75em;
      border-radius: 0.49em;
      border-width: 0.14em;
    }
    .switch.switch_RUI
    {
      margin: 0.275em;
      height: 1.4em;
      width: 2.45em;
      border-radius: 0.7em;
    }
    .switch.switch_OneUI
    {
      margin: 0.375em;
      height: 1.16em;
      width: 2.11em;
      border-radius: 0.65em;
      border-width: 0.07em;
    }
    .switch.switch_ZenUI
    {
      margin: 0.6em;
      height: 1.28em;
      width: 1.8em;
      border-radius: 0.64em;
    }

  /* Кружочек ------------------------------*/

    .switch.switch_OOS:before
    {
      top: -0.35em;
      left: -0.35em;
      height: 1.4em;
      width: 1.4em;
    }
    .switch.switch_RUI:before
    {
      margin: 0.2625em;
      height: 0.525em;
      width: 0.525em;
      border-width: 0.175em;
    }
    .switch.switch_OneUI:before
    {
      top: -0.12em;
      left: -0.12em;
      height: 1.26em;
      width: 1.26em;
      border-width: 0.07em;
    }
    .switch.switch_ZenUI:before
    {
      top: -0.06em;
      left: -0.6em;
      height: 1.4em;
      width: 1.4em;
    }

  /* Кружочек при отмеченном инпуте ------------------------------*/

    input:checked + .switch.switch_OOS:before,
    input:checked + .switch.switch_RUI:before
    {
      -webkit-transform: translateX(1.05em);
      -ms-transform: translateX(1.05em);
      transform: translateX(1.05em);
    }
    input:checked + .switch.switch_OneUI:before
    {
      -webkit-transform: translateX(0.95em);
      -ms-transform: translateX(0.95em);
      transform: translateX(0.95em);
    }
    input:checked + .switch.switch_ZenUI:before
    {
      -webkit-transform: translateX(1.6em);
      -ms-transform: translateX(1.6em);
      transform: translateX(1.6em);
    }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  /* Дорожка ------------------------------*/

    .switch.switch_OOS
    {
      margin: 0.59em;
      height: 0.8em;
      width: 2em;
      border-radius: 0.56em;
      border-width: 0.16em;
    }
    .switch.switch_RUI
    {
      margin: 0.35em;
      height: 1.6em;
      width: 2.8em;
      border-radius: 0.8em;
    }
    .switch.switch_OneUI
    {
      margin: 0.47em;
      height: 1.32em;
      width: 2.4em;
      border-radius: 0.74em;
      border-width: 0.08em;
    }
    .switch.switch_ZenUI
    {
      margin: 0.72em;
      height: 1.48em;
      width: 2.06em;
      border-radius: 0.74em;
    }

  /* Кружочек ------------------------------*/

    .switch.switch_OOS:before
    {
      top: -0.4em;
      left: -0.4em;
      height: 1.6em;
      width: 1.6em;
    }
    .switch.switch_RUI:before
    {
      margin: 0.3em;
      height: 0.6em;
      width: 0.6em;
      border-width: 0.2em;
    }
    .switch.switch_OneUI:before
    {
      top: -0.14em;
      left: -0.14em;
      height: 1.44em;
      width: 1.44em;
      border-width: 0.08em;
    }
    .switch.switch_ZenUI:before
    {
      top: -0.06em;
      left: -0.6em;
      height: 1.6em;
      width: 1.6em;
    }

  /* Кружочек при отмеченном инпуте ------------------------------*/

    input:checked + .switch.switch_OOS:before,
    input:checked + .switch.switch_RUI:before
    {
      -webkit-transform: translateX(1.2em);
      -ms-transform: translateX(1.2em);
      transform: translateX(1.2em);
    }
    input:checked + .switch.switch_OneUI:before
    {
      -webkit-transform: translateX(1.08em);
      -ms-transform: translateX(1.08em);
      transform: translateX(1.08em);
    }
    input:checked + .switch.switch_ZenUI:before
    {
      -webkit-transform: translateX(1.66em);
      -ms-transform: translateX(1.66em);
      transform: translateX(1.66em);
    }
}
