/*------------------------------*/
/*---РАЗДЕЛ SVG-----------------*/
/*------------------------------*/

.svg_header, /* <svg> в шапке */
.svg_settings /* <svg> на стартовой в настройках (в <main>) */
{
  cursor: pointer;
}

/* Иконки в шапке ------------------------------*/

 /* стили иконок в шапке, цвет акцента (для шапки в стиле ZenUI и RUI) */
.HEADER_RUI .g05, .HEADER_ZenUI .g05
{
  stroke: var(--accent-color, #42a5f6) !important;
}
.HEADER_RUI .g50, .HEADER_ZenUI .g50
{
  fill: var(--accent-color, #42a5f6) !important;
}

 /* смена стиля иконки "назад" при включении стиля шапки OneUI */
.back-icon_OneUI
{
  display: none;
}
.HEADER_OneUI .back-icon_stock
{
  display: none;
}
.HEADER_OneUI .back-icon_OneUI
{
  display: block;
}


/* Иконки в навигационном меню ------------------------------*/

 /* анимация при наведении на пункт нав меню */
.nav-item:hover .g06 {stroke: var(--main_bg-color, #000) !important}
.nav-item:hover .g60 {fill: var(--main_bg-color, #000) !important}
.nav-item:hover .g66
{
  fill: var(--main_bg-color, #000) !important;
  stroke: var(--main_bg-color, #000) !important;
}