:root {
  --accent-color: #42a5f6;
  --main_bg-color: #000;
  --secondary_bg-color: #1f1f1f;
  --icon_bg-color: #141414;
  --main_border-color: #1e1e1e;
  --main_text-color: #d8d8d8;
  --secondary_text-color: #898989;
}

/* ---------------------------- */

body {
  margin: 0; 
  padding: 0;
  color: var(--main_text-color, #d8d8d8);
  background-color: var(--main_bg-color, #000);
  font-family: Arial, sans-serif;
}

/* ---------------------------- */

.main {
  padding-top: 6em;
  font-size: 1em;
  z-index: 2;
}

.section {
  padding: 0 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section:not(:last-of-type) {border-bottom: 1px solid var(--main_border-color, #1e1e1e)}
.section-header {
  flex-basis: 100%;
  text-align: center;
}


.link_hidden {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  text-decoration: none;
  color: inherit;
}

.row-label /* стоковый горизонтальный лейбл */
{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.row-label input {display:none} /* скрыть инпут внутри */
.row-label .radio-name /* текст подписи радиокнопки */
{
  padding: 0.5em 0;
  flex: 1;
}

/*------------------------------*/
/*---ОВЕРЛЕЙ [3:4]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 3/4) /* диапазон 3:4 и уже */
{
  .main {
    padding-top: 4.5em;
  }

  .section {
    flex-direction: column;
  }
  .section-header {
    margin: 0.5em;
    text-align: left;
    font-size: 1.2em;
  }
}
