.shm:hover {background: #208559;} /* фон шторочного меню при наведении */
.shs a:hover {color: #BBB;} /* цвет текста в меню шторки при наведении */
.menu a:hover {
  background: #208559; /* фон табл-меню при наведении */
  color: #BBB; /* цвет текста табл-меню при наведении */
}
.segment b {
  background: #208559; /* фон выбранной ячейки табл-меню */
  color: #BBB; /* цвет текста выбранной ячейки табл-меню */
}

/* параметры радиокнопок */

[type="radio"] + span.krug:before {box-shadow: 0 0 0 2px #208559;} /* неотмеченная радиокнопка (колечко в радиокнопке) */
[type="radio"]:checked + span.krug:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #208559; /* кружок и его цвет */
  box-shadow: 0 0 0 2px #208559; /* колечко */
}
