  /* встраиваемые классы для всего документа */

  .ab {background: #474747;} /* "akcent background", стандартный для темы цвет фона */
  .sb {color: #DDD;} /* цвет текста табл-меню, шторки и статусбара */
  .sc {color: #FFF;} /* цвет текста стандартный (контент) */

  /* шторка */

  #sh:hover .sh {background: rgba(29,29,29,1);} /* 1 шторка при наведении на активную область, фон */
  .sh {background: #FFF;} /* 1 шторка по дефолту, фон */
  .shs a:hover {color: #212121;} /* цвет текста в меню шторки при наведении */
  .shm {background: #808080;} /* фон пунктов меню шторки */

  /* вторая шторка */

  #custom {background: #FFF;} /* цвет фона активной области для 2 шторки по дефолту */
  .custom {background: rgba(29,29,29,1);} /* цвет фона второй шторки */

  /* табл-меню */

  .bar {background: #212121;} /* фон всего материского блока слева */
  .menu a {
    color: #808080; /* цвет текста ячеек табл-меню */
    border-bottom: 1px solid #212121; /* граница снизу у ячеек табл-меню */
  }

  /* встариваемые в контент borderы */

  .bor-l1 {border-left: 1px solid #212121;} /* 1 пиксель слева */
  .bor-r1 {border-right: 1px solid #212121;} /* 1 пиксель справа */
  .bor-lr1 { /* 1 пиксель слева и справа */
    border-right: 1px solid #212121;
    border-left: 1px solid #212121;
  }
  .bor-t1 {border-top: 1px solid #212121;} /* 1 пиксель сверху */

  /* радиокнопки */

  [type="radio"] + span.krug:before {border: 2px solid #474747;} /* "прозрачный" промежуток между кольцом и кружком в радиокнопке */
