  /* встраиваемые классы для всего документа */

  .ab {background: #FFF;} /* "akcent background", стандартный для темы цвет фона */
  .sb {color: #212121;} /* цвет текста табл-меню, шторки и статусбара */
  .sc {color: #212121;} /* цвет текста стандартный (контент) */

  /* шторка */

  #sh:hover .sh {background: rgba(172,172,172,1);} /* 1 шторка при наведении на активную область, фон */
  .sh {background: #AAA;} /* 1 шторка по дефолту, фон */
  .shm {background: #808080;} /* фон пунктов меню шторки */

  /* вторая шторка */

  #custom {background: #808080;} /* цвет фона активной области для 2 шторки по дефолту */
  #custom:hover {background: rgba(0,0,0,0);} /* активная область второй шторки при наведении (невидимая) */
  .custom {background: rgba(172,172,172,1);} /* цвет фона второй шторки */

  /* табл-меню */

  .bar {background: #BBB;} /* фон всего материского блока слева */
  .menu a {
    color: #383838; /* цвет текста ячеек табл-меню */
    border-bottom: 1px solid #BBB; /* граница снизу у ячеек табл-меню */
  }

  /* встариваемые в контент borderы */

  .bor-l1 {border-left: 1px solid #BBB;} /* 1 пиксель слева */
  .bor-r1 {border-right: 1px solid #BBB;} /* 1 пиксель справа */
  .bor-lr1 { /* 1 пиксель слева и справа */
    border-right: 1px solid #BBB;
    border-left: 1px solid #BBB;
  }
  .bor-t1 {border-top: 1px solid #BBB;} /* 1 пиксель сверху */
  .bor-b1 {border-bottom: 1px solid #BBB;} /* 1 пиксель снизу */
  .bor-l2 {border-left: 2px solid #BBB;} /* 2 пикселя слева */
  .bor-r2 {border-right: 2px solid #BBB;} /* 2 пикселя справа */
  .bor-t2 {border-top: 2px solid #BBB;} /* 2 пикселя сверху */
  .bor-b2 {border-bottom: 2px solid #BBB;} /* 2 пикселя снизу */

  /* радиокнопки */

  [type="radio"] + span.krug:before {border: 2px solid #FFF;} /* "прозрачный" промежуток между кольцом и кружком в радиокнопке */
