.shm:hover {background: #80CBC4;} /* фон шторочного меню при наведении */
.shs a:hover {color: #474747;} /* цвет текста в меню шторки при наведении */
.menu a:hover {
  background: #80CBC4; /* фон табл-меню при наведении */
  color: #474747; /* цвет текста табл-меню при наведении */
}
.segment b {
  background: #80CBC4; /* фон выбранной ячейки табл-меню */
  color: #474747; /* цвет текста выбранной ячейки табл-меню */
}

/* параметры радиокнопок */

[type="radio"] + span.krug:before {box-shadow: 0 0 0 2px #80CBC4;} /* неотмеченная радиокнопка (колечко в радиокнопке) */
[type="radio"]:checked + span.krug:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #80CBC4; /* кружок и его цвет */
  box-shadow: 0 0 0 2px #80CBC4; /* колечко */
}
