.shm:hover {background: #CC6F4E;} /* фон шторочного меню при наведении */
.shs a:hover {color: #323232;} /* цвет текста в меню шторки при наведении */
.menu a:hover {
  background: #CC6F4E; /* фон табл-меню при наведении */
  color: #323232; /* цвет текста табл-меню при наведении */
}
.segment b {
  background: #CC6F4E; /* фон выбранной ячейки табл-меню */
  color: #323232; /* цвет текста выбранной ячейки табл-меню */
}

/* параметры радиокнопок */

[type="radio"] + span.krug:before {box-shadow: 0 0 0 2px #CC6F4E;} /* неотмеченная радиокнопка (колечко в радиокнопке) */
[type="radio"]:checked + span.krug:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #CC6F4E; /* кружок и его цвет */
  box-shadow: 0 0 0 2px #CC6F4E; /* колечко */
}
