.shm:hover {background: #E5A544;} /* фон шторочного меню при наведении */
.shs a:hover {color: #212121;} /* цвет текста в меню шторки при наведении */
.menu a:hover {
  background: #E5A544; /* фон табл-меню при наведении */
  color: #212121; /* цвет текста табл-меню при наведении */
}
.segment b {
  background: #E5A544; /* фон выбранной ячейки табл-меню */
  color: #212121; /* цвет текста выбранной ячейки табл-меню */
}

/* параметры радиокнопок */

[type="radio"] + span.krug:before {box-shadow: 0 0 0 2px #E5A544;} /* неотмеченная радиокнопка (колечко в радиокнопке) */
[type="radio"]:checked + span.krug:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #E5A544; /* кружок и его цвет */
  box-shadow: 0 0 0 2px #E5A544; /* колечко */
}
