body { /* фикс отступов */
  margin: 0;
  padding: 0;
}

#bootloader {display: block;} /* стартовый блок */
#dockbar {display: none;}
#bootloader:target ~ #dockbar {display: none;}
div:target ~ #dockbar {display: block;}
div:target {display: block;} /* выбранный элемент, отображать как блок */

.flex__cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* темы */

.theme__bg {background: #000;}
.theme__head-text {
  color: #DDD;
  font-size: 64pt;
}
.theme__item_text-h {
  color: #FFF;
  font-size: 48pt;
}
.theme__item_text-m {
  color: #AAA;
  font-size: 32pt;
}
.theme__item-container {

}
.theme__item_border {
  border: 3px solid #80CBC4;
  border-radius: 40px;
}

 /* оверлей */

.site {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header {
  position: fixed;
  top: 0;
  height: 16%;
  width: 100%;
}
.main {
  position: absolute;
  top: 16%;
  width: 100%;
  min-height: 76%;
}
.dockbar {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
}

 /* шапка */

.header__container {
  height: calc(100% - 3px);
  border-bottom: 3px solid #222;
}
.header__head-text {
  font-family: sans-serif;
  font-weight: bold;
}

 /* меню */

.main__container {}
.menu {}
.menu__container {height: 200px;}
.menu__container_end {height: 100px;}
.menu__item {
  height: calc(100% - 6px);
  transform: scale(0.8);
  border-bottom: 3px solid #474747;
  transition: ease-out 0.3s;
}
.menu__item:hover {
  height: 100%;
  transform: scale(0.6);
  border-bottom: 0px;
}
.menu__item-link {
  color: #FFF;
  font-size: 48pt;
  line-height: 100px;
  height: 100%;
  padding-left: 20px;
  text-decoration: none;
  transition: ease-out 0.3s;
}
.menu__item-link:hover {
  background: #80CBC4;
  color: #212121;
  border-radius: 40px;
}
.menu__item-text_h {
  height: 100px;
}
.menu__item-text_m {
  height: 100px;
  bottom: 0;
}

 /* навигационное меню */

.nav {
  position: fixed;
  height: 100%;
  width: 100%;
}

.nav__head {
  width: 100%;
  height: 20%;
  position: absolute;
}
.nav__head-text {height: 100%;}

.nav__container {
  display: table;
  width: 100%;
  height: 80%;
  bottom: 0;
  position: absolute;
}
.nav__item {display: table-row;}
.nav__item-link {
  height: 100%;
  text-decoration: none;
  transform: scale(0.9);
  transition: ease-out 0.3s;
}
.nav__item-link:hover {
  transform: scale(0.75);
  background: #80CBC4;
  color: #212121;
}
