/*------------------------------*/
/*---РАЗДЕЛ SWITCH--------------*/
/*------------------------------*/

.switch-container /* тумблерный контейнер (текстовый контейнер-ссылка + лейбл с переключателем в строчку) */
{
  display: flex;
  justify-content: space-between;
  border-radius: inherit;
}

/* Лейбл с переключателем ------------------------------*/

.switch-label /* Лейбл */
{
  height: inherit;
  width: 100%;
  justify-content: space-between;
}

/* Дорожка ------------------------------*/

.switch
{
  position: relative;
  border: solid var(--switch_nonactive-color, #3d3d3d);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Кружочек ------------------------------*/

.switch:before
{
  content: '';
  display: block;
  position: absolute;
  background-color: var(--switch-before_nonactive-color, #d1d1d1);
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Дорожка при отмеченном инпуте ------------------------------*/

  input:checked + .switch
  {
    border-color: var(--accent_opacity-color, rgba(66,165,246,0.5));
  }

/* Дорожка, когда инпут в фокусе ------------------------------*/

input:focus + .switch
{
  box-shadow: 0 0 1px var(--accent-color, #42a5f6);
}

/* Кружочек при отмеченном инпуте ------------------------------*/

  input:checked + .switch:before
  {
    background-color: var(--accent-color, #42a5f6);
  }

/*------------------------------*/
/*---ОВЕРЛЕЙ [6:5]--------------*/
/*------------------------------*/

@media (max-aspect-ratio: 6/5) /* узкие экраны до 6:5 */
{
  /* Дорожка ------------------------------*/

    .switch
    {
      margin: 0.485em;
      height: 0.7em;
      width: 1.75em;
      border-radius: 0.49em;
      border-width: 0.14em;
    }

  /* Кружочек ------------------------------*/

    .switch:before
    {
      top: -0.35em;
      left: -0.35em;
      height: 1.4em;
      width: 1.4em;
    }

  /* Кружочек при отмеченном инпуте ------------------------------*/

    input:checked + .switch:before
    {
      -webkit-transform: translateX(1.05em);
      -ms-transform: translateX(1.05em);
      transform: translateX(1.05em);
    }
}

/*------------------------------*/
/*---ОВЕРЛЕЙ >[6:5]-------------*/
/*------------------------------*/

@media (min-aspect-ratio: 6/5) /* экраны шире 6:5 */
{
  /* Дорожка ------------------------------*/

    .switch
    {
      margin: 0.59em;
      height: 0.8em;
      width: 2em;
      border-radius: 0.56em;
      border-width: 0.16em;
    }

  /* Кружочек ------------------------------*/

    .switch:before
    {
      top: -0.4em;
      left: -0.4em;
      height: 1.6em;
      width: 1.6em;
    }

  /* Кружочек при отмеченном инпуте ------------------------------*/

    input:checked + .switch:before
    {
      -webkit-transform: translateX(1.2em);
      -ms-transform: translateX(1.2em);
      transform: translateX(1.2em);
    }
}
