:root {
  --accent-color: #42a5f6;
  --main_bg-color: #000;
  --secondary_bg-color: #1f1f1f;
  --main_border-color: #1e1e1e;
  --main_text-color: #d8d8d8;
  --secondary_text-color: #898989;
}

body {
  margin: 0; 
  padding: 0;
  color: var(--main_text-color, #d8d8d8);
  background-color: var(--main_bg-color, #000);
  font-family: Arial, sans-serif;
}
header {z-index: 3}
main {z-index: 2}
article {padding: 0 4%}
article:not(:last-of-type) {border-bottom: 10px solid var(--main_border-color, #1e1e1e)}

.center {text-align: center}
.section_menu {
  margin: 0.5em;
  padding: calc(100px - 1.15em) 1em;
  width: 300px;
  display: inline-block;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--main_bg-color, #000);
  border: 2px solid var(--secondary_bg-color, #1f1f1f);
  border-radius: 1em;
  transition: 0.3s ease-out;
}
.section_menu:hover
{
  background-color: var(--secondary_bg-color, #1f1f1f);
  border: 2px solid var(--accent-color, #42a5f6);
}
.menu-name {
  font-size: 1.5em;
}
.menu-description {
  color: var(--secondary_text-color, #898989);
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link_hidden {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  text-decoration: none;
  color: inherit;
}
