/* ----- ABOUT ----- */
.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__logo {
  padding: 2em;
  width: 5em;
  height: 5em;
}
.about__text {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-aspect-ratio: 6/5) {
  .about__text {
    border-top: 1px solid var(--secondary_text-color, #898989);
  }
}
@media (max-aspect-ratio: 3/4) {
  .about__text .menu-item__text__name {
    text-align: center;
  }
}
.about__text .menu-item__text__name:first-letter {
  color: var(--accent_color, #42a5f6);
}
.about__text sup {
  font-size: 0.5em;
}
