/* ----- HEADER ----- */
.header {
  width: 100%;
  height: 3em;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--main_bg-color, #000);
  border-bottom: 2px solid var(--main_border-color, #1e1e1e);
  font-size: 2em;
  transition: 0.3s;
  z-index: 2;
}
.header__top {
  display: none;
}
.header__bottom {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom .header__name {
  display: flex;
  flex: auto;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-aspect-ratio: 3/4) {
  .header__bottom .header__name {
    justify-content: flex-start;
  }
}
.header__bottom__time {
  align-items: center;
}
.header__bottom__time .time-container {
  display: flex;
  line-height: 1em;
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode {
    height: 50vh;
  }
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode .header__top {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-weight: 700;
    opacity: 1;
    transform: translateY(1.5em);
    transition: 0.3s;
  }
}
.header.OneUI-mode .header__top__time {
  flex-direction: column;
}
.header.OneUI-mode .header__top__time .time-container {
  display: flex;
  font-size: 2em;
  line-height: 1.2em;
}
.header.OneUI-mode .header__top__time .time-container .colon {
  display: none;
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode .header__bottom {
    transition: 0.3s;
  }
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode .header__bottom .header__name {
    opacity: 0;
  }
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode.scroll {
    height: 3em;
    justify-content: center;
  }
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode.scroll .header__top {
    height: 0;
    flex: 0;
    opacity: 0;
  }
}
@media (max-aspect-ratio: 6/5) {
  .header.OneUI-mode.scroll .header__bottom .header__name {
    opacity: 1;
    animation: header__name 0.6s;
  }
}
@-moz-keyframes header__name {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes header__name {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes header__name {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header__name {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header__icon {
  margin: 0 0.5em;
  padding: calc(0.5em - 2px);
  width: 1em;
  height: 1em;
  display: flex;
  position: relative;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-aspect-ratio: 3/4) {
  .header__icon {
    margin: 0 0.3em;
    padding: calc(0.7em - 2px);
  }
}
.header__icon__svg {
  width: 1em;
  height: 1em;
}
.header__icon:hover {
  border-color: var(--accent_color, #42a5f6);
  transform: scale(0.8);
}
.header__icon.invisible {
  margin: 0;
  padding: 0;
  width: 3em;
  height: 0;
  border: 0;
}
.header__icon.invisible .header__icon__svg {
  display: none;
}
