:root {
  --accent_color: var(--accent_color, #42a5f6);
  --accent_opacity-color: var(--accent_opacity-color, rgba(66,165,246,0.5));
  --main_bg-color: var(--main_bg-color, #000);
  --secondary_bg-color: var(--secondary_bg-color, #1f1f1f);
  --icon_bg-color: var(--icon_bg-color, #141414);
  --hover_bg-color: var(--hover_bg-color, #1a1a1a);
  --main_text-color: var(--main_text-color, #d8d8d8);
  --secondary_text-color: var(--secondary_text-color, #898989);
  --main_border-color: var(--main_border-color, #1e1e1e);
  --radio_nonactive-color: var(--radio_nonactive-color, #c7c7c7);
  --switch_nonactive-color: var(--switch_nonactive-color, #3d3d3d);
  --switch-before_nonactive-color: var(--switch-before_nonactive-color, #d1d1d1);
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--main_text-color, #d8d8d8);
  background-color: var(--main_bg-color, #000);
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 6/5) {
  body {
    font-size: 2vw;
  }
}
@media (max-aspect-ratio: 3/4) {
  body {
    font-size: 3vw;
  }
}
.hidden-link {
  width: 100%;
  height: 100%;
  position: absolute;
  text-decoration: none;
  color: inherit;
}
.red-text {
  color: #f00;
}
