/* ----- SECTION ----- */
.section {
  padding-top: 1em;
}
.section:not(:last-of-type) {
  border-bottom: 1px solid var(--main_border-color, #1e1e1e);
}
.section__header {
  margin: 0 0.5em 0.5em;
  flex-basis: 100%;
  color: var(--accent_color, #42a5f6);
  text-align: center;
  text-transform: uppercase;
}
@media (max-aspect-ratio: 3/4) {
  .section__header {
    text-align: left;
  }
}
