/* Дефолтное --------------------------------------------------*/

.page
{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

/* Шапка (header) --------------------------------------------------*/

.header-name /* Заголовок в шапке */
{
  padding: 20px 50px;
}

/* Навигационное горизонтальное меню */

.nav
{
  line-height: 1.8em;
  font-size: 1.2em;
}
.nav-menu
{
  display: flex;
  justify-content: space-evenly;
  margin: inherit;
  padding: inherit;
}

.nav-item
{
  display: inline-block;
  transition: ease-out 0.3s;
}
.nav-item_link
{
  padding: 5px 25px;
  text-decoration: none;
  color: inherit;
  display: flex;
}

/* Основное содержание (main) --------------------------------------------------*/

.main-content
{
  font-size: 1.2em;
  text-align: center;
}
.main-content_container
{
  padding: 0 4%;
}
.main-content_container:last-of-type
{
  border-bottom: none;
}
.main-content_container-header
{
  margin: 40px 0;
}

/* Пункты меню настроек */

.main-content_menu-item
{
  margin: 20px 0;
  height: 120px;
  text-align: left;
  border-radius: 20px;
  transition: ease-out 0.3s;
}
.main-content_menu-item::before
{
  content: "";
  margin: 20px;
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 50%;
}

.menu-item_text
{
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu-item_name,
.menu-item_description
{
  margin: inherit;
  padding: 4px 0;
}
.menu-item_name
{
  font-size: 1em;
}
.menu-item_description
{
  font-size: 0.6em;
}
.menu-item_link
{
  text-decoration: none;
  color: inherit;
}

/* Ссылки на сайты на стратовой странице */

.site
{
  margin: 2%;
  border-radius: 20px;
  transition: ease-out 0.3s;
}
.site-img
{
  margin-top: 20px;
  width: calc(100% - 40px);
  max-width: 1000px;
  border-radius: inherit;
}
.site-name
{
  padding: 10px 0;
}
.site-description
{
  padding: 0 40px 20px 40px;
  text-align: left;
  font-size: 0.6em;
}

/* Подвал (footer) --------------------------------------------------*/

.footer-container
{
  display: flex;
  justify-content: space-between;
}
.footer-text
{
  padding: 0 20px;
  font-size: 0.8em;
}
.sup
{
  font-size: 0.5em;
}
