/*--------------------------------------------------------------------------------------------------------*/
/* переключатели/радиокнопки/чекбоксы и т. д. */
/*--------------------------------------------------------------------------------------------------------*/

  .ver, .hor {border-radius: 20px;}

  [type="radio"] { /* фикс видимости радио */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  [type="radio"] + span.krug:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    transition: 0.3s ease all;
    border: 2px solid #000;
    border-radius: 16px;
    box-shadow: 0 0 0 2px #80CBC4;
  } /* неотмеченная радиокнопка (колечко в радиокнопке) */
  [type="radio"]:checked + span.krug:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #80CBC4; /* кружок и его цвет */
    box-shadow: 0 0 0 2px #80CBC4; /* колечко */
  }
  [type="radio"] + span.krug.hor:before {margin: 8px;} /* параметры радиокнопки горизонтального списка */

  [type="radio"][value="#80CBC4"] + span.cvet:before {box-shadow: 0 0 0 2px #80CBC4;} /* колечко в радиокнопке */
  [type="radio"][value="#80CBC4"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #80CBC4;
    box-shadow: 0 0 0 2px #80CBC4;
  }

  [type="radio"] + span.krug.ver {display: block;} /* показать текст и саму радиокнопку */
  [type="radio"] + span.krug.ver:before { /* параметры радиокнопки в вертикальном списке */
    vertical-align: -0.25em;
    margin-right: 20px;
  }

  input[type=radio][name="knopka"]:checked + label { /* параметры радиокнопки в форме кнопки */
    background: inherit;
    border-radius: inherit; /* наследовать закругления от родителя */
  }

  label.active {cursor: pointer;} /* строчка с радиокнопкой */
  label.stroka { /* строчка с радиокнопкой */
    display: block;
    line-height: 40px;
  }

/*--------------------------------------------------------------------------------------------------------*/
