/* Дефолтное --------------------------------------------------*/

/* Шапка (header) --------------------------------------------------*/

.header-back_button:hover
{
  background-color: #80cbc4;
}

/* Навигационное горизонтальное меню */

.nav-item:hover
{
  color: #80cbc4;
  border-color: #80cbc4;
}

/* Основное содержание (main) --------------------------------------------------*/

.main-content_container-header
{
  border-bottom: 2px solid #80cbc4;
}

/* Пункты меню настроек */

.main-content_menu-item:hover
{
  border-color: #80cbc4;
}
#themes-item::before
{
  background-image: url("../../../kernel/icons/2.png");
}

/* Ссылки на сайты на стратовой странице */

.site:hover
{
  border-color: #80cbc4;
}

/* Подвал (footer) --------------------------------------------------*/
