/* дефолтные настройки */

  body {margin: 0; padding: 0;} /* фикс отступов */
  img {margin: 0 auto; top: 0; bottom: 0; left: 0; right: 0;}
  p {margin: 20px; text-align: left;}

  /* класс для растягивания скрытого блока */

    .block {top: 0; left: 0; right: 0; bottom: 0; display: none;}

  /* позиционирование */

    .abs {position: absolute;}
    .fixed {position: fixed;}

  /**/

/* параметры статусбара */

  #bar {width: 100%; height: 60px;}

  /* параметры таблицы в статусбаре (да, он реализован через таблицу) */

    table.bar {
      text-align: center; /* выравнивание текста по центру */
      width: 100%;
      height: 60px;
      line-height: 60px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
      border-collapse: collapse; /* фикс границ в таблице */
    }

  /* параметры строк */

    table.bar td {padding: 0; width: 299px; height: 60px;}

  /* параметры ячеек */

    table.bar td.barc {width: calc(100% - 300px);}

  /**/

/* внутристраничная навигация */

  /* механизм-переключалка для внутристраничной навигации */

    /* первый элемент, отображать как блок */

      #one { display: block; }

    /* выбранный элемент, отображать как блок */

      div:target { display: block; }

    /* скрытие первого блока при выборе следующего */

      div[id*=t]:target ~ #one { display: none; }

    /**/

  /* параметры табл-меню справа */

    table.menu {
      top: 60px; /* отступ сверху */
      width: 299px; /* ширина (300 пх - граница) */
      height: calc(100% - 60px); /* высота (вся страница - отступ сверху) */
      border-collapse: collapse; /* фикс границ */
    }

    /* параметры строк табл-меню */

      table.menu tr {width: 299px; height: 60px; display: block;}

    /* параметры ячеек табл-меню */

      table.menu td {display: block;}

    /* ссылки в табл-меню */

      table.menu td a {
        line-height: 60px; /* фикс для выравнивания по вертикали */
        width: 100%;  /* ширина */
        height: 100%;  /* высота */
        display: flex; /* надо, иначе будет выебываться */
        align-items: center; /* выравнивание по вертикали */
        justify-content: center; /* выравнивание по горизонтали */
      }

    /**/

  /* область контента */

    /* блок с контентом (слева) */

      .active {
        left: 300px;  /* отступ слева */
        top: 60px;  /* отступ сверху */
        width: calc(100% - 300px);  /* ширина (вся страница - ширина меню) */
        min-height: calc(100% - 60px);
        display: block;   /* отображать как блок */
        text-align: center;
      }

    /* блоки с особым текстом  */

      p.content {padding: 10px; border-radius: 5px;}

    /**/

  /**/

/* параметры шторки */

  /* материнский блок, не выделен мышью */

    #sh {
      left: 300px; /* отступ слева */
      top: 0; /* без отступа сверху */
      width: calc(100% - 600px); /* ширина с учетом двух отступов по бокам */
      height: 60px; /* высота активной области статусбара для вызова шторки */
      text-align: center; /* текст по центру */
      border-radius: 20px; /* закругления */
    }

  /* блок с датой сверху */

    #shc {width: 100%; height: 12%; line-height: 60px;}

  /* строка с менюшками */

    .sh {width: 100%; height: 40%; display: block;}

  /* пункты меню шторки */

    .shm {
      width: calc(32% - 2px); /* ширина, 2 пикселя выделены под границы */
      height: calc(100% - 4px); /* ширина, 4 пикселя выделены под границы */
      border-width: 2px; /* ширина границ */
      border-radius: 20px; /* закругления */
      line-height: 196px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
      display: inline-block; /* отображать как последовательность вложенных блоков */
    }

  /**/
  
/**/
