/* повторяющиеся параметры (оптимизация) */

body { margin: 0; padding: 0; } /* фикс отступов */
img {
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.abs { position: absolute; } /* фикс позиции */
.fixed { position: fixed; }
.block { /* фикс для всех блоков */
  top: 0; /* убийство всех отступов */
  left: 0;
  right: 0;
  bottom: 0;
  display: none; /* скрыть нахой */
}

/* параметры статусбара */

#bar { /* материнский блок */
  width: 100%; /* ширина */
  height: 60px; /* высота */
}
table.bar { /* параметры таблицы в статусбаре (да, он реализован через таблицу) */
  text-align: center; /* выравнивание текста по центру */
  width: 100%; /* ширина */
  height: 60px; /* высота */
  line-height: 60px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
  border-collapse: collapse; /* фикс границ в таблице */
}
table.bar td { /* параметры стандартных ячеек таблицы */
  height: 60px; /* высота */
  padding: 0; /* фикс всех отступов внутри ячеек */
  width: 299px; /* ширина (пиксель на границу) */
}
table.bar td.barc { /* параметры barc ячейки таблицы */
  width: calc(100% - 300px); /* ширина (фулл - ширина ячейки другой) */
}

/* механизм-переключалка */

#one { display: block; }   /* первый элемент, отображать как блок */
div:target { display: block; }   /* выбранный элемент, отображать как блок */
div[id*=t]:target ~ #one { display: none; }   /* скрытие первого блока при выборе следующего */

/* таблица-меню слева */

table.menu {   /* параметры табл-меню */
  top: 60px;  /* отступ сверху */
  width: 299px;  /* ширина (100 писк - граница) */
  height: calc(100% - 60px);   /* высота (вся страница - отступ сверху) */
  border-collapse: collapse;  /* фикс границ */
}
table.menu tr { /* параметры строк табл-меню */
  width: 299px; /* ширина */
  height: 60px; /* высота */
  display: block;  /* отображать как блок */
}
table.menu td {display: block;} /* параметры ячеек табл-меню */

/* ссылки в меню */

table.menu td a {  /* параметры ссылки */
  line-height: 60px; /* фикс для выравния по вертикали */
  width: 100%;  /* ширина */
  height: 100%;  /* высота */
  display: flex; /* надо, иначе будет выебываться */
  align-items: center; /* выравнивание по вертикали */
  justify-content: center; /* выравнивание по горизонтали */
}

/* мое */

.active {  /* параметры активного элемента */
  left: 300px;  /* отступ слева */
  top: 60px;  /* отступ сверху */
  width: calc(100% - 300px);  /* ширина (вся страница - ширина меню) */
  min-height: calc(100% - 60px);
  display: block;   /* отображать как блок */
  text-align: center;
}

/* пресет для контента */

p {
  text-align: left;
  margin: 20px;
}

 /* оптимизация */

p.content {
  padding: 10px;
  border-radius: 5px;
}

/* параметры шторки */

#sh { /* материнский блок, не выделен мышью */
 left: 300px; /* отступ слева */
 top: 0; /* без отступа сверху */
 width: calc(100% - 600px); /* ширина с учетом двух отступов по бокам */
 height: 60px; /* высота активной области статусбара для вызова шторки */
 text-align: center; /* текст по центру */
 border-radius: 20px; /* закругления */
}
#shc { /* блок с датой сверху */
 width: 100%; /* ширина */
 height: 12%; /* высота */
 line-height: 60px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
}
.sh { /* строка с менюшками */
 width: 100%; /* ширина */
 height: 40%; /* высота */
 display: block; /* отображать как блок */
}
.shm { /* пункты меню шторки */
 width: calc(32% - 2px); /* ширина, 2 пикселя выделены под границы */
 height: calc(100% - 4px); /* ширина, 4 пикселя выделены под границы */
 border-width: 2px; /* ширина границ */
 line-height: 196px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
 display: inline-block; /* отображать как последовательность вложенных блоков */
 border-radius: 20px; /* закругления */
}
