/* длительность анимации ----------------------------------------------------------------------------*/

  #sh {transition: ease-out 0.15s;} /* шторка */
  .shm {transition: ease-out 0.15s;} /* меню шторки */
  table.menu td {transition: ease-out 0.2s;} /* ячейка табл-меню */

/* параметры неактивных элементов -------------------------------------------------------------------*/

  /* шторка */

    #sh {
      transform: translateY(-80px); /* приподнимает неактивн. шторку на 80 пх, фикс мисскликов */
      opacity: 0; /* прозрачный по дефолту */
    }

  /**/

/* праметры элементов при наведении -----------------------------------------------------------------*/

  /* шторка */

    #sh:hover {
      left: 100px; /* отступ (разворачивается и становится чуть больше) */
      width: calc(100% - 200px); /* ширина с учетом новых пользователей */
      height: 500px; /* высота, тоже новая */
      opacity: 1; /* минус прозрачность */
      transform: translateY(0px); /* сдвиг обратно на 80 пикселей */
    }

  /* меню шторки */

    .shm:hover {
      transform: scale(0.8); /* уменьшение на 20% */
      border-radius: 96px; /* закругления */
    }

  /* ячейка табл-меню */

    table.menu td:hover {
      border-radius: 30px; /* скругление углов */
      border: 0px; /* убийство границы */
      transform: scale(0.8); /* уменьшение на 20% */
    }

  /**/

/*---------------------------------------------------------------------------------------------------*/
