/* параметры статусбара */

#bar { /* материнский блок */
  width: 100%; /* ширина */
  height: 60px; /* высота */
}
table.bar { /* параметры таблицы в статусбаре (да, он реализован через таблицу) */
  text-align: center; /* выравнивание текста по центру */
  width: 100%; /* ширина */
  height: 60px; /* высота */
  line-height: 60px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
  border-collapse: collapse; /* фикс границ в таблице */
}
table.bar td { /* параметры стандартных ячеек таблицы */
  height: 60px; /* высота */
  padding: 0; /* фикс всех отступов внутри ячеек */
  width: 299px; /* ширина (пиксель на границу) */
}
table.bar td.barc { /* параметры barc ячейки таблицы */
  width: calc(100% - 300px); /* ширина (фулл - ширина ячейки другой) */
}
