/* дефолтные настройки -----------------------------------------------------------------------------*/

  body { /* фикс отступов */
    margin: 0;
    padding: 0;
  }
  img { /* фикс отступов для картинок (выравнивает по центру) */
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  p { /* отступы и позиционирование для текста */
    margin: 20px;
    text-align: left;
  }

/* фиксы -------------------------------------------------------------------------------------------*/

  /* позиционирование */

  .abs {position: absolute;} /* абсолютное позиционирование, отд класс */
  .fixed {position: fixed;} /* фиксированная позиция, отд класс */

  /* оптимизация */

  .block { /* класс для всех блоков-страниц */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .cfix { /* фикс центрирования */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime {transition: ease-out 0.3s;} /* сток анимация */

  /* механизм-переключалка для внутристраничной навигации */

  #bootloader {display: block;} /* стартовый блок */
  div:target {display: block;} /* выбранный элемент, отображать как блок */

/* видимость --------------------------------------------------------------------------------------- */

  /* фикс видимости шторки в бутлоадере */

  #sh {visibility: hidden;} /* скрыть по дефолту */
  div:target ~ #sh {visibility: visible;} /* показать при выборе любого блока */
  #bootloader:target ~ #sh {display: none;} /* скрыть при выборе бутлоадера */

  /* фикс для шторок */

  #sh1 {visibility: hidden;} /* скрыть 1 шторку по дефолту */
  #sh2 {visibility: hidden;} /* скрыть 2 шторку по дефолту */
  #sh:hover .sh #sh1 {visibility: visible;} /* показать 1 шторку при выборе верхней активной области */
  #custom:hover .custom #sh2 {visibility: visible;} /* то же самое для 2 шторки */

  #custom {visibility: hidden;} /* скрыть акт область 2 шторки по дефолту */
  #sh:hover #custom {visibility: visible;} /* показать акт область 2 шторки при выборе 1 акт области */

/*--------------------------------------------------------------------------------------------------*/
