/* дефолтные настройки -----------------------------------------------------------------------------*/

  body { /* фикс отступов */
    margin: 0;
    padding: 0;
  }
  img { /* фикс отступов для картинок */
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  p { /* отступы и позиционирование для текста */
    margin: 20px;
    text-align: left;
  }

/* фиксы -------------------------------------------------------------------------------------------*/

  /* позиционирование */

  .abs {position: absolute;}
  .fixed {position: fixed;}

  /* оптимизация */

  .block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .cfix {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime {transition: ease-out 0.3s;} /* сток анимация */

  /* механизм-переключалка для внутристраничной навигации */

  #bootloader {display: block;} /* стартовый блок */
  div:target {display: block;} /* выбранный элемент, отображать как блок */

  /* фиксы видимости */

  #custom {visibility: hidden;}
  div:target ~ #custom {visibility: visible;}
  #bootloader:target ~ #custom {visibility: hidden;}
  #custom0 {visibility: hidden;}
  div:target ~ #custom0 {visibility: visible;}
  #bootloader:target ~ #custom0 {visibility: hidden;}

  .sh {visibility: hidden;}
  div:target ~ .sh {visibility: visible;}
  #bootloader:target ~ .sh {visibility: hidden;}

/*--------------------------------------------------------------------------------------------------*/
