/* дефолтные настройки -----------------------------------------------------------------------------*/

  body { /* фикс отступов */
    margin: 0;
    padding: 0;
  }
  img { /* фикс отступов для картинок */
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  p { /* отступы и позиционирование для текста */
    margin: 20px;
    text-align: left;
  }

/* фиксы -------------------------------------------------------------------------------------------*/

  /* позиционирование */

  .abs {position: absolute;}
  .fixed {position: fixed;}

  /* оптимизация */

  .block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .cfix {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime {transition: ease-out 0.3s;} /* сток анимация */

  /* механизм-переключалка для внутристраничной навигации */

  #bootloader {display: block;} /* стартовый блок */
  div:target {display: block;} /* выбранный элемент, отображать как блок */

/* видимость --------------------------------------------------------------------------------------- */

  #sh {visibility: hidden;}
  div:target ~ #sh {visibility: visible;}
  #bootloader:target ~ #sh {visibility: hidden;}

  #sh:hover .sh .shn {visibility: visible;}
  #sh:hover .sh .shs {visibility: visible;}
  .sh:hover .shn {visibility: visible;}
  .sh:hover .shs {visibility: visible;}
  .shn {visibility: hidden;}
  .shs {visibility: hidden;}

  .custom {visibility: hidden;}
  .custom:hover {visibility: visible;}
  #custom:hover .custom {visibility: visible;}

  .shnc {visibility: hidden;}
  #homeb {visibility: hidden;}
  #setb {visibility: hidden;}
  #custom:hover .custom .shnc {visibility: visible;}
  #custom:hover .custom #homeb {visibility: visible;}
  #custom:hover .custom #setb {visibility: visible;}

/*--------------------------------------------------------------------------------------------------*/
