/* дефолтные настройки -----------------------------------------------------------------------------*/

  body { /* фикс отступов */
    margin: 0;
    padding: 0;
  }
  img { /* фикс отступов для картинок (выравнивает по центру) */
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* механизм-переключалка для внутристраничной навигации */

  #bootloader {display: block;} /* стартовый блок */
  div:target {display: block;} /* выбранный элемент, отображать как блок */

/* модульность -----------------------------------------------------------------------------*/

  /* позиционирование */

  .abs {position: absolute;} /* абсолютное позиционирование, отд класс */
  .fixed {position: fixed;} /* фиксированная позиция, отд класс */

  /* оптимизация */

  .cfix { /* фикс центрирования */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime {transition: ease-out 0.3s;} /* сток анимация */
  .fw {width: 100%;} /* "full width", растянуть по ширине (100%) */
  .fh {height: 100%;} /* "full height", растянуть по высоте (100%) */
  .l0 {left: 0;} /* нулевой отступ слева */
  .r0 {right: 0;} /* нулевой отступ справа */
  .t0 {top: 0;} /* нулевой отступ сверху */
  .b0 {bottom: 0;} /* нулевой отступ снизу */
  .dn {display: none;} /* невидимость по дефолту */

/* видимость ---------------------------------------------------------------------------------------*/

  /* фикс видимости шторки в бутлоадере */

  #sh {visibility: hidden;} /* скрыть по дефолту */
  div:target ~ #sh {visibility: visible;} /* показать при выборе любого блока */
  #bootloader:target ~ #sh {display: none;} /* скрыть при выборе бутлоадера */

  /* фикс для шторок */

  #sh1 {visibility: hidden;} /* скрыть 1 шторку по дефолту */
  #sh2 {visibility: hidden;} /* скрыть 2 шторку по дефолту */
  #sh:hover .sh #sh1 {visibility: visible;} /* показать 1 шторку при выборе верхней активной области */
  #custom:hover .custom #sh2 {visibility: visible;} /* то же самое для 2 шторки */

  #custom {visibility: hidden;} /* скрыть акт область 2 шторки по дефолту */
  #sh:hover #custom {visibility: visible;} /* показать акт область 2 шторки при выборе 1 акт области */

/* параметры шторки --------------------------------------------------------------------------------*/

  /* активная область */

  #sh {height: 50px;} /* высота активной области статусбара для вызова шторки */
  #sh:hover {height: 70%;} /* активная область растягивается на 70% экрана по высоте при наведении */
  #sh:hover .sh {
    top: 5px; /* отступ сверху */
    right: 300px; /* отступ справа */
    width: calc(100% - 600px); /* ширина при наведении */
    height: 50%; /* высота, тоже новая */
    display: table; /* отображать, как таблицу */
  }
  #sh:hover .sh #sh1 {transform: scale(1);} /* вернуть размеры 1 шторки при наведении на акт обл */

  /* основная часть шторки (материнский блок) */

  .sh {
    top: 15px; /* отступ сверху */
    right: 15px; /* отступ справа */
    width: 20px; /* ширина по дефолту */
    height: 20px; /* высота по дефолту */
    display: block; /* отображать, как блок */
  }
  .sh:hover {
    top: 5px;
    right: 300px;
    width: calc(100% - 600px); /* ширина с учетом отступов по бокам, це при наведении */
    height: 50%; /* высота, тоже новая */
    display: table; /* отображать, как таблицу */
  }

  /* фикс анимаций вложенных элементов */

  .sh0 {transform: scale(0.001);} /* уменьшить в 1000 раз (чтоб видно не было) */

  /* элементы внутри основной шторки */

  .shn {height: 10%;}
  .shs { /* строка с менюшками */
    height: 40%;
    display: table; /* отображать, как таблицу */
    table-layout: fixed; /* фикс для уравнивания ширины ячеек таблицы */
  }
  .shm {
    display: table-cell; /* отображать, как ячейку таблицы */
    transform: scale(0.8); /* уменьшение на 20% (искусственная граница) */
  }
  .shm:hover {transform: scale(0.65);} /* уменьшение на 35% */

  /* активная область второй шторки */

  #custom {
    left: 10%;
    width: 80%;
    height: 10%;
    transform: scale(0.4); /* уменьшение на 60% */
  }
  #custom:hover {
    position: fixed; /* фиксированная позиция */
    top: 45%;
    left: 0;
    width: 100%;
    height: 40%;
    transform: scale(1); /* вернуть исходный размер */
  }
  #custom:hover .custom {height: 100%;} /* вызов расш шторки при наведении на активную область */
  #custom:hover .custom #sh2 {transform: scale(1);} /* вернуть размеры 2 шторки при наведении */

  /* основная часть второй шторки (материнский блок) */

  .custom {
    right: 300px;
    height: 0;
    width: calc(100% - 600px); /* с учетом отступов по 300 пикселей по бокам */
  }
  .shnc {height: 40px;} /* заголовок в расширенной шторке */

  /* кнопки (для обеих шторок) */

  .button { /* кнопки (домой и настройки) */
    width: 40px;
    height: 40px;
  }
  .button:hover {transform: scale(0.8);} /* уменьшение на 20% при наведении */

/* табл-меню ---------------------------------------------------------------------------------------*/

  .bar {width: 300px;} /* ширина */
  .nav {
    width: calc(100% - 3px); /* ширина (300 пх - граница) */
    height: 49px; /* высота */
  }
  .menu {
    top: 52px;
    height: calc(100% - 52px);
    width: calc(100% - 3px);
    display: table; /* отображать как таблицу */
  }
  .segment {display: table-row;} /* как строка таблицы */
  .segment:hover {transform: scale(0.8);} /* уменьшение на 20% */

/* контент -----------------------------------------------------------------------------------------*/

  .head { /* заголовок страницы */
    width: calc(100% - 300px); /* ширина с учетом меню слева */
    height: 50px; /* высота */
  }
  .content { /* область контента */
    top: 50px;
    left: 300px;  /* отступ слева */
    width: calc(100% - 300px);  /* ширина (вся страница - ширина меню) */
    min-height: calc(100% - 50px); /* высота (вся страница - высота статусбара) */
    display: block; /* отображать как блок */
  }

/* разметка ---------------------------------------------------------------------------------------*/

  .info {
    display: table; /* отображать, как таблицу */
    table-layout: fixed; /* фикс для уравнивания ширины ячеек таблицы */
  }
  .info .hor {display: table-cell;}
  .uip {
    padding: 20px;
    width: calc(100% - 40px);  /* ширина */
  }
  .uip.text {
    padding-left: 40px;
    width: calc(100% - 60px);  /* ширина */
  }

/* спойлеры -----------------------------------------------------------------------------------------*/

  .spoiler {
    margin: 10px;
    width: calc(100% - 20px);
    min-height: 30px;
  }
  .spoiler:hover {min-height: 58px;}
  .spoiler:hover .sphide {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    text-align: left;
    display: block;
  }
  .spoiler:hover a.sp1 {display: none;}
  .spoiler:hover a.sp2 {display: none;}
  .spoiler a.sp {
    padding: 20px;
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    display: block;
  }
  .spoiler a.sp1 {text-align: left;}
  .spoiler a.sp2 {text-align: right;}

/* о системе ---------------------------------------------------------------------------------------*/

  #abouth {height: 240px;}
  #abouth img {
    margin: 0;
    padding: 20px;
    height: 200px;
    width: 285px;
  }
  .abhr {
    width: calc(100% - 345px);  /* ширина */
    height: 20%;  /* высота */
    justify-content: flex-start;
  }
  #abouts {
    top: 240px;
    width: calc(100% - 1px);
    height: 40%;
  }
  .abvt {top: 30%;}
  .abnt {bottom: 30%;}
  .abr {
    width: 25%;  /* ширина */
    height: 20%;  /* высота */
  }
  #aboutn {
    width: calc(100% - 1px);
    height: calc(60% - 240px);
    text-align: center;
  }

/*-------------------------------------------------------------------------------------------------*/
