/* цвета текста ------------------------------------------------------------------------------------*/

  /* цвета текста встариваемые (отдельным классом) */

    .wc {color: #FFF;}
    .rc {color: #F00;}
    .gc {color: #0F0;}
    .bc {color: #00F;}

  /* шторка */

    #sh {color: #DDD;}

  /* статусбар */

    table.bar td {color: #DDD;}

  /* табл-меню */

    table.menu td {color: #FFF;} /* цвет текста впринципе */
    table.menu td a {color: #FFF;} /* цвет текста ссылок */

  /* контент */

    .active {color: #DDD;} /* цвет текста контента дефолтный */
    a.content {color: #99A;} /* ссылка в контенте */

    /* цвета для особого текста */

      p.warning {color: #F99;} /* внимание */
      p.need {color: #FF9;} /* требования */
      p.code {color: #9F9;} /* код */
      p.spisok {color: #FFF;} /* список */
      p.download {color: #99F;} /* блок с ссылками */

    /**/

  /**/

/* цвета текста при наведении ----------------------------------------------------------------------*/

  /* шторка */

    .shm:hover {color: #212121;} /* цвет текста меню шторки */

  /* табл-меню */

    table.menu td a:hover {color: #474747;}  /* цвет текста при выделении ссылки */

  /**/

/* цвета фона --------------------------------------------------------------------------------------*/

  body {background-color: #FFF;}

  /* шторка */

    #sh {background-color: #1D1D1D;} /* материнский блок */
    .shm {background: #808080;} /* меню шторки */

  /* статусбар */

    table.bar {background: #000;}

  /* табл-меню */

    table.menu {background: #000;}

  /* контент */

    p.content {background: #424242;} /* особый текст */
    .active {background: #000;} /* активный материнский блок */

  /**/

/* цвета фона при наведении (акцент) ---------------------------------------------------------------*/

  /* шторка */

    .shm:hover {background: #80CBC4;} /* меню в шторке при наведении */

  /* табл-меню */

    table.menu td:hover {background: #80CBC4;} /* ячеки табл-меню */

  /**/

/* границы -----------------------------------------------------------------------------------------*/

  /* шторка */

    #shc {border-bottom: 2px solid #1D1D1D;} /* граница снизу (нужно, иначе выебоны) */

  /* статусбар */

    table.bar {border-bottom: 2px solid #212121;} /* граница снизу и ее цвет */
    table.bar td.barc {border-left: 1px solid #212121;} /* граница слева центр блока и ее цвет */

  /* табл-меню */

    table.menu {border-right: 1px solid #212121;} /* граница справа табл-меню */
    table.menu td {border-bottom: 1px solid #212121;} /* граница снизу ячеек табл-меню */

  /**/

/*--------------------------------------------------------------------------------------------------*/
