body {background-color: #FFF;}

/* шторка ------------------------------------------------------------------------------------------*/

  #sh {
    color: #DDD;
    background-color: #1D1D1D;
  }
  #shc {border-bottom: 2px solid #1D1D1D;} /* граница снизу (нужно, иначе выебоны) */
  .shm {background: #808080;} /* меню в шторке */
  .shm:hover { /* меню в шторке при наведении */
    background: #80CBC4;
    color: #212121;
  }

/* статусбар ---------------------------------------------------------------------------------------*/

  table.bar {
    background: #000;
    border-bottom: 2px solid #212121;
  }
  table.bar td {color: #DDD;}
  table.bar td.barc {border-left: 1px solid #212121;} /* граница слева центр блока и ее цвет */

/* контент -----------------------------------------------------------------------------------------*/

  /* табл-меню */

  .menu {
    background: #000;
    border-right: 1px solid #212121;
  }
  .segment:hover {
    background: #80CBC4;
  }
  .menu0 a {color: #FFF;}
  .menu0 a:hover {color: #474747;}

=====================================

  table.menu {
    background: #000;
    border-right: 1px solid #212121;
  }
  table.menu td {
    border-bottom: 1px solid #212121;
    color: #FFF;
  }
  table.menu td:hover {background: #80CBC4;} /* ячеки табл-меню */
  table.menu td a {color: #FFF;} /* цвет текста ссылок */
  table.menu td a:hover {color: #474747;}  /* цвет текста при выделении ссылки */

  /* цвета текста встариваемые (отдельным классом) */

  .wc {color: #FFF;}
  .rc {color: #F00;}
  .gc {color: #0F0;}
  .bc {color: #00F;}

  /* цвета для особого текста */

  p.warning {color: #F99;} /* внимание */
  p.need {color: #FF9;} /* требования */
  p.code {color: #9F9;} /* код */
  p.spisok {color: #FFF;} /* список */
  p.download {color: #99F;} /* блок с ссылками */

  /* остальное */

  .active {
    background: #000;
    color: #DDD;
  }
  a.content {color: #99A;} /* ссылка в контенте */
  p.content {background: #424242;} /* особый текст */
