/* пресет для контента */

h1.hw { color: #FFF; }
h1.hr { color: #F00; }
h1.hg { color: #0F0; }
h1.hb { color: #00F; }
p {
 margin: 25px;
 text-align: left;
 font-family: Arial; /* тип шрифта */
 font-size: 14pt; /* Размер шрифта в пунктах */
}
a.con {
 text-decoration: underline;
 color: #969696;
}
p.v {
 background: #808080;
 padding: 10px;
 border-radius: 5px;
 font-weight: bold;
 color: #F00;
}
p.t {
 background: #808080;
 padding: 10px;
 border-radius: 5px;
 font-weight: bold;
 color: #BDB76B;
}
p.k {
 background: #474747;
 padding: 10px;
 border-radius: 3px;
 color: #DDD;
}
p.s {
 background: #808080;
 padding: 10px;
 border-radius: 5px;
 color: #FFF;
}
p.spoiler {
 background: #808080;
 padding: 10px;
 border-radius: 5px;
 color: #FFF;
}
