/* пресет для контента */

p {
 margin: 20px;
 text-align: left;
 font-family: Arial; /* тип шрифта */
 font-size: 14pt; /* Размер шрифта в пунктах */
}

 /* оптимизация */

p.content {
  padding: 10px;
  border-radius: 5px;
}
a.content { text-decoration: underline; }
