/* повторяющиеся параметры (оптимизация) */

body { margin: 0; padding: 0; } /* фикс отступов */
img {
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.abs { position: absolute; } /* фикс позиции */
.fixed { position: fixed; }
.block { /* фикс для всех блоков */
  top: 0; /* убийство всех отступов */
  left: 0;
  right: 0;
  bottom: 0;
  display: none; /* скрыть нахой */
}
