/* жирный шрифт -------------------------------------------------------------------------------------*/

  .bold {font-weight: bold;}

  /* жирные шрифты в шторке */

    #shc {font-weight: bold;} /* дата */
    .shm {font-weight: bold;} /* меню шторки */

  /* жирный текст у выбранной ссылки */

    table.menu td a:visited {font-weight: bold;} /* активная ссылка в табл-меню */

  /**/

/* подчеркивания ------------------------------------------------------------------------------------*/

  a {text-decoration: none;} /* не подчеркивать/красить дефолтные ссылки */
  a.content {text-decoration: underline;} /* подчеркивать только ссылки в контенте */
  table.menu td a {text-decoration: none;} /* ссылки в табл-меню, без подчеркивания */

/* тип шрифта ---------------------------------------------------------------------------------------*/

  p {font-family: Arial;} /* дефолтный для текста */

  /* шторка */

    #shc {font-family: sans-serif;} /* дата */
    .shm {font-family: sans-serif;} /* меню шторки */

  /* статусбар */

    table.bar td {font-family: sans-serif;}

  /**/

/* размер шрифта ------------------------------------------------------------------------------------*/

  p {font-size: 14pt;} /* дефолтный для текста */

  /* шторка */

    #shc {font-size: 36pt;} /* дата */
    .shm {font-size: 24pt;} /* меню шторки */

  /* статусбар */

    table.bar td {font-size: 32pt;}

  /**/

/*---------------------------------------------------------------------------------------------------*/
