.bold {font-weight: bold;}
a {text-decoration: none;} /* не подчеркивать/красить дефолтные ссылки */

/* шторка -------------------------------------------------------------------------------------------*/

  #shc {
    font-family: sans-serif;
    font-size: 36pt;
    font-weight: bold;
  }
  .shm {
    font-family: sans-serif;
    font-size: 24pt;
    font-weight: bold;
  }

/* статусбар ----------------------------------------------------------------------------------------*/

  table.bar td {
    font-family: sans-serif;
    font-size: 32pt;
  }

/* контент ------------------------------------------------------------------------------------------*/

  a.content {text-decoration: underline;} /* подчеркивать только ссылки в контенте */
  p {
    font-family: Arial;
    font-size: 14pt;
  }
  b {color:#80CBC4;}
  .segment a {text-decoration: none;}
  .segment a:visited {font-weight: bold;}

===================================

  table.menu td a {text-decoration: none;} /* ссылки в табл-меню, без подчеркивания */
  table.menu td a:visited {font-weight: bold;} /* активная ссылка в табл-меню */
