/* жирный шрифт */

  .bold {font-weight: bold;}

  /* жирный текст у выбранной ссылки */

    table.menu td a:visited {font-weight: bold;} /* активная ссылка в табл-меню */

  /* жирные шрифты в шторке */

    #shc {font-weight: bold;} /* дата */
    .shm {font-weight: bold;} /* меню шторки */

  /**/

/* подчеркивание ссылки */

  a.content {text-decoration: underline;} /* подчеркивать только ссылки в контенте */

  /* для всех (дефолтный) */

    a { text-decoration: none; } /* не подчеркивать/красить */

  /* ссылки в табл-меню */

    table.menu td a {text-decoration: none;} /* без подчеркивания */

  /**/

/* тип шрифта */

  /* дефолтный для текста */

    p {font-family: Arial;}

  /* статусбар */

    table.bar td { font-family: sans-serif;}

  /* шторка */

    #shc {font-family: sans-serif;} /* дата */
    .shm {font-family: sans-serif;} /* меню шторки */

  /**/

/* размер шрифта */

  /* дефолтный для текста */

    p {font-size: 14pt;}

  /* статусбар */

    table.bar td {font-size: 32pt;}

  /* шторка */

    #shc {font-size: 36pt;} /* дата */
    .shm {font-size: 24pt;} /* меню шторки */

  /**/

/**/
