/* механизм-переключалка */

#one { display: block; }   /* первый элемент, отображать как блок */
div:target { display: block; }   /* выбранный элемент, отображать как блок */
div[id*=t]:target ~ #one { display: none; }   /* скрытие первого блока при выборе следующего */

/* таблица-меню слева */

table.menu {   /* параметры табл-меню */
  top: 60px;  /* отступ сверху */
  width: 299px;  /* ширина (100 писк - граница) */
  height: calc(100% - 60px);   /* высота (вся страница - отступ сверху) */
  border-collapse: collapse;  /* фикс границ */
}
table.menu tr { /* параметры строк табл-меню */
  width: 299px; /* ширина */
  height: 60px; /* высота */
  display: block;  /* отображать как блок */
}
table.menu td { /* параметры ячеек табл-меню */
  display: block;  /* отображать как блок */
  transition: ease-out 0.2s;  /* длительность анимации */
}
table.menu td:hover {  /* параметры ячеек табл-меню при наведении */
  transform: scale(0.8);  /* уменьшение на 20% */
  border-radius: 30px; /* скругление углов */
  border: 0px; /* убийство границы */
}

/* ссылки в меню */

table.menu td a {  /* параметры ссылки */
  text-decoration: none; /* фикс подчеркивателя/осинителя ссылок */
  line-height: 60px; /* фикс для выравния по вертикали */
  width: 100%;  /* ширина */
  height: 100%;  /* высота */
  display: flex; /* надо, иначе будет выебываться */
  align-items: center; /* выравнивание по вертикали */
  justify-content: center; /* выравнивание по горизонтали */
}
table.menu td a:visited { font-weight: bold; }  /* жирный текст у выбранной ссылки */

/* мое */

.active {  /* параметры активного элемента */
  left: 300px;  /* отступ слева */
  top: 60px;  /* отступ сверху */
  width: calc(100% - 300px);  /* ширина (вся страница - ширина меню) */
  min-height: calc(100% - 60px);
  display: block;   /* отображать как блок */
  text-align: center;
}
