[type="radio"] { /* фикс видимости радио */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
label.active {cursor: pointer;} /* строчка с радиокнопкой */
label.stroka { /* строчка с радиокнопкой */
  display: block;
  line-height: 40px;
}
[type="radio"] + span.krug.ver {display: block;} /* показать текст и саму радиокнопку */
[type="radio"] + span.krug:before { /* параметры радиокнопки по дефолту */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  transition: 0.3s ease all;
}
[type="radio"] + span.krug.ver:before { /* параметры радиокнопки в вертикальном списке */
  vertical-align: -0.25em;
  margin-right: 20px;
}
[type="radio"] + span.krug.hor:before {margin: 8px;} /* параметры радиокнопки горизонтального списка */

/* параметры расцветки ----------------------------------------------------------------------------------------------------------------*/

/* cyan */

[type="radio"][value="#80CBC4"] + span.cvet:before {box-shadow: 0 0 0 2px #80CBC4;} /* колечко в радиокнопке */
[type="radio"][value="#80CBC4"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #80CBC4;
  box-shadow: 0 0 0 2px #80CBC4;
}

/* blue */

[type="radio"][value="#33A"] + span.cvet:before {box-shadow: 0 0 0 2px #33A;} /* колечко в радиокнопке */
[type="radio"][value="#33A"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #33A;
  box-shadow: 0 0 0 2px #33A;
}

/* green */

[type="radio"][value="#3A3"] + span.cvet:before {box-shadow: 0 0 0 2px #3A3;} /* колечко в радиокнопке */
[type="radio"][value="#3A3"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
  background: #3A3;
  box-shadow: 0 0 0 2px #3A3;
}
