 /* параметры шторки */

#sh { /* материнский блок, не выделен мышью */
  left: 300px; /* отступ слева */
  top: 0; /* без отступа сверху */
  width: calc(100% - 600px); /* ширина с учетом двух отступов по бокам */
  height: 60px; /* высота активной области статусбара для вызова шторки */
  opacity: 0; /* прозрачный по дефолту */
  text-align: center; /* текст по центру */
  border-radius: 20px; /* закругления */
  transition: ease-out 0.15s; /* длительность анимации */
  transform: translateY(-80px); /* приподнимает неактивную шторку на 80 пикселей, фиксит миссклики (текст находится ниже блоков) */
}
#sh:hover { /* материнский блок при наведении */
  left: 100px; /* отступ (разворачивается и становится чуть больше) */
  width: calc(100% - 200px); /* ширина с учетом новых пользователей */
  height: 500px; /* высота, тоже новая */
  opacity: 1; /* минус прозрачность */
  transform: translateY(0px); /* сдвиг обратно на 80 пикселей */
}
#shc { /* блок с датой сверху */
  width: 100%; /* ширина */
  height: 12%; /* высота */
  font-family: sans-serif; /* тип шрифта */
  font-size: 36pt; /* Размер шрифта в пунктах */
  font-weight: bold; /* жирный шрифт */
  line-height: 60px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
}
.sh { /* строка с менюшками */
  width: 100%; /* ширина */
  height: 40%; /* высота */
  display: block; /* отображать как блок */
}
.shm { /* пункты меню шторки */
  width: calc(32% - 2px); /* ширина, 2 пикселя выделены под границы */
  height: calc(100% - 4px); /* ширина, 4 пикселя выделены под границы */
  border-width: 2px; /* ширина границ */
  line-height: 196px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
  font-family: sans-serif; /* тип шрифта */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-weight: bold; /* жирный шрифт */
  display: inline-block; /* отображать как последовательность вложенных блоков */
  border-radius: 20px; /* закругления */
  transition: ease-out 0.15s; /* длительность анимации */
}
.shm:hover { /* пункт меню шторки при наведении */
  transform: scale(0.8); /* уменьшение на 20% */
  border-radius: 96px; /* закругления */
}
