 /* параметры шторки */

#sh { /* материнский блок, не выделен мышью */
  left: 300px; /* отступ слева */
  top: 0; /* без отступа сверху */
  width: calc(100% - 600px); /* ширина с учетом двух отступов по бокам */
  height: 60px; /* высота активной области статусбара для вызова шторки */
  text-align: center; /* текст по центру */
  border-radius: 20px; /* закругления */
}
#shc { /* блок с датой сверху */
  width: 100%; /* ширина */
  height: 12%; /* высота */
  line-height: 60px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
}
.sh { /* строка с менюшками */
  width: 100%; /* ширина */
  height: 40%; /* высота */
  display: block; /* отображать как блок */
}
.shm { /* пункты меню шторки */
  width: calc(32% - 2px); /* ширина, 2 пикселя выделены под границы */
  height: calc(100% - 4px); /* ширина, 4 пикселя выделены под границы */
  border-width: 2px; /* ширина границ */
  line-height: 196px; /* выравнивание по центру по вертикали (должно быть равно высоте блока) */
  display: inline-block; /* отображать как последовательность вложенных блоков */
  border-radius: 20px; /* закругления */
}
