/* параметры шторки --------------------------------------------------------------------------------*/

  /* активная область */

  #sh {
    width: 100%; /* ширина с учетом двух отступов по бокам */
    height: 50px; /* высота активной области статусбара для вызова шторки */
  }
  #sh:hover {height: 70%;} /* активная область растягивается на 70% экрана по высоте при наведении */
  #sh:hover .sh {
    top: 5px; /* отступ сверху */
    right: 300px; /* отступ справа */
    width: calc(100% - 600px); /* ширина при наведении */
    height: 50%; /* высота, тоже новая */
    display: table; /* отображать, как таблицу */
  }
  #sh:hover .sh #sh1 {transform: scale(1);} /* вернуть размеры 1 шторки при наведении на акт обл */

  /* основная часть шторки (материнский блок) */

  .sh {
    top: 15px; /* отступ сверху */
    right: 15px; /* отступ справа */
    width: 20px; /* ширина по дефолту */
    height: 20px; /* высота по дефолту */
    display: block; /* отображать, как блок */
  }
  .sh:hover {
    top: 5px;
    right: 300px;
    width: calc(100% - 600px); /* ширина с учетом отступов по бокам, це при наведении */
    height: 50%; /* высота, тоже новая */
    display: table; /* отображать, как таблицу */
  }

  /* фикс анимаций вложенных элементов */

  .sh0 {
    width: 100%; /* растянуть на весь материнский блок */
    height: 100%;
    transform: scale(0.001); /* уменьшить в 1000 раз (чтоб видно не было) */
  }

  /* элементы внутри основной шторки */

  .shn {height: 10%;}
  .shs { /* строка с менюшками */
    width: 100%;
    height: 40%;
    display: table; /* отображать, как таблицу */
    table-layout: fixed; /* фикс для уравнивания ширины ячеек таблицы */
  }
  .shs a {
    width: 100%;  /* ширина */
    height: 100%;  /* высота */
  }
  .shm {
    display: table-cell; /* отображать, как ячейку таблицы */
    transform: scale(0.8); /* уменьшение на 20% (искусственная граница) */
  }
  .shm:hover {transform: scale(0.65);} /* уменьшение на 35% */

/* вторая шторка -----------------------------------------------------------------------------------*/

  /* активная область */

  #custom {
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 10%;
    transform: scale(0.4); /* уменьшение на 60% */
  }
  #custom:hover {
    position: fixed; /* фиксированная позиция */
    top: 45%;
    left: 0;
    width: 100%;
    height: 40%;
    transform: scale(1); /* вернуть исходный размер */
  }
  #custom:hover .custom {height: 100%;} /* вызов расш шторки при наведении на активную область */
  #custom:hover .custom #sh2 {transform: scale(1);} /* вернуть размеры 2 шторки при наведении */

  /* расширенная часть шторки (материнский блок) */

  .custom {
    top: 0;
    right: 300px;
    height: 5%;
    width: calc(100% - 600px); /* с учетом отступов по 300 пикселей по бокам */
  }
  .custom:hover {height: 100%;}

  /* элементы в расширенной части шторки */

  .shnc { /* заголовок в расширенной шторке */
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  #homeb {left: 0;} /* кнопка "домой" */
  #setb {right: 0;} /* кнопка "настройки" */
  .button { /* кнопки (домой и настройки) */
    bottom: 0;
    width: 40px;
    height: 40px;
  }
  .button:hover {transform: scale(0.8);} /* уменьшение на 20% при наведении */

/* табл-меню ---------------------------------------------------------------------------------------*/

  .bar {
    width: 300px; /* ширина (300 пх - граница) */
    height: 100%; /* высота */
  }
  .nav {
    width: calc(100% - 3px); /* ширина (300 пх - граница) */
    height: 49px; /* высота */
  }
  .menu {
    top: 52px;
    height: calc(100% - 52px);
    width: calc(100% - 3px);
    display: table; /* отображать как таблицу */
  }
  .menu a {
    width: 100%;  /* ширина */
    height: 100%;  /* высота */
  }
  .segment {display: table-row;} /* как строка таблицы */
  .segment:hover {transform: scale(0.8);} /* уменьшение на 20% */
  .segment b {
    width: 100%;  /* ширина */
    height: 100%;  /* высота */
  }

/* контент -----------------------------------------------------------------------------------------*/

  .head { /* заголовок страницы */
    right: 0;
    width: calc(100% - 300px); /* ширина с учетом меню слева */
    height: 50px; /* высота */
  }
  .active { /* область контента */
    top: 50px;
    left: 300px;  /* отступ слева */
    width: calc(100% - 300px);  /* ширина (вся страница - ширина меню) */
    min-height: calc(100% - 50px); /* высота (вся страница - высота статусбара) */
    display: block; /* отображать как блок */
    text-align: center; /* текст по центру */
  }
  p.con {padding: 10px;} /* блоки с особым текстом, отступы изнутри */

  /* о системе -------------------------------------------------------------------------------------*/

  .abh {
    height: 240px;
    width: 100%;
    border-top: 1px solid #212121;
  }
  .abh img {
    margin: 0;
    padding: 20px;
    height: 200px;
    width: 285px;
  }
  .abhr {
    right: 0;
    width: calc(100% - 345px);  /* ширина */
    height: 20%;  /* высота */
    justify-content: flex-start;
  }
  .abouts {
    top: 240px;
    width: calc(100% - 1px);
    height: 40%;
    border-bottom: 2px solid #212121;
    display: table; /* отображать, как таблицу */
    table-layout: fixed; /* фикс для уравнивания ширины ячеек таблицы */
  }
  .abmat {
    height: 100%;
    border-radius: 20px;
    display: table-cell; /* отображать, как ячейку таблицы */
  }
  .borl {border-left: 1px solid #212121;}
  .borlr {
    border-right: 1px solid #212121;
    border-left: 1px solid #212121;
  }
  .borr {border-right: 1px solid #212121;}
  .abp {
    width: 100%;  /* ширина */
    height: 100%;  /* высота */
    background: #000;
  }
  .abvt {
    top: 30%;
    color: #AAA;
    font-size: 18pt;
  }
  .abnt {
    bottom: 30%;
    color: #FFF;
    font-size: 14pt;
  }
  .abr {
    width: 25%;  /* ширина */
    height: 20%;  /* высота */
  }
  .abn {
    bottom: 0;
    width: calc(100% - 1px);
    height: calc(60% - 240px);
    display: table; /* отображать, как таблицу */
    table-layout: fixed; /* фикс для уравнивания ширины ячеек таблицы */
  }
  .abn0 {font-size: 16pt;}

/*-------------------------------------------------------------------------------------------------*/
