/* дефолтные настройки -----------------------------------------------------------------------------*/

  body { /* фикс отступов */
    margin: 0;
    padding: 0;
  }
  img { /* фикс отступов для картинок */
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  p { /* отступы и позиционирование для текста */
    margin: 20px;
    text-align: left;
  }

  /* позиционирование */

  .abs {position: absolute;}
  .fixed {position: fixed;}

  /* фиксы */

  .block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .cfix {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime {transition: ease-out 0.3s;} /* сток анимация */

/* параметры шторки --------------------------------------------------------------------------------*/

  #sh {
    width: 300px; /* ширина с учетом двух отступов по бокам */
    height: 60px; /* высота активной области статусбара для вызова шторки */
    display: table;
    opacity: 0;
    transform: translateX(-12%) translateY(-65%);
  }
  #sh:hover {
    width: 100%; /* ширина с учетом новых пользователей */
    height: 100%; /* высота, тоже новая */
    opacity: 1; /* минус прозрачность */
    transform: translateX(0%) translateY(0%);
  }
  #shn {height: 10%;}
  .sh { /* строка с менюшками */
    width: 100%;
    height: 45%;
    display: table;
    table-layout: fixed;
  }
  .sh a {
    width: 100%;  /* ширина */
    height: 100%;  /* высота */
  }
  .shm {
    display: table-cell;
    transform: scale(0.9);
  }
  .shm:hover {transform: scale(0.75);}

/* контент -----------------------------------------------------------------------------------------*/

  /* механизм-переключалка для внутристраничной навигации */

  #one {display: block;} /* первый элемент, отображать как блок */
  div:target {display: block;} /* выбранный элемент, отображать как блок */
  div[id*=t]:target ~ #one {display: none;} /* скрытие первого блока при выборе следующего */

  /* параметры табл-меню слева */

  .menu {
    width: 299px; /* ширина (300 пх - граница) */
    height: 100%; /* высота */
  }
  .nav {
    width: 299px; /* ширина (300 пх - граница) */
    height: 60px; /* высота */
    color: #999;
  }
  .menu0 {
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    display: table;
  }
  .menu0 a {
    margin-top: 2px;
    width: 100%;  /* ширина */
    height: calc(100% - 1px);  /* высота */
  }
  .segment {display: table-row;}
  .segment:hover {transform: scale(0.8);} /* уменьшение на 20% */
  .segment b {
    width: 100%;  /* ширина */
    height: 100%;  /* высота */
  }

  /* область контента */

  .active {
    left: 300px;  /* отступ слева */
    width: calc(100% - 300px);  /* ширина (вся страница - ширина меню) */
    min-height: 100%;
    display: block;   /* отображать как блок */
    text-align: center;
  }
  p.content {padding: 10px;} /* блоки с особым текстом  */

/*--------------------------------------------------------------------------------------------------*/
