/* дефолтные настройки -----------------------------------------------------------------------------*/

  a {text-decoration: none;} /* не подчеркивать/красить дефолтные ссылки */
  body {background: none;} /* фон всего дока дефолтный */

/* закругления ------------------------------------------------------------------------------------------*/

  .bor-20 {border-radius: 20px;} /* дефолтные закругления */
  .shm:hover {border-radius: 60px;} /* пункт шторочного меню при наведении */
  .menu a:hover {border-radius: 20px;} /* пункт табл-меню при наведении */
  .segment b:hover {border-radius: 20px;} /* активный пункт табл-меню при наведении */
  .spoiler {border-radius: 5px;} /* закругления у спойлера */
  [type="radio"] + span.krug:before {border-radius: 16px;} /* у круглой радиокнопки */

/* параметры текста (без цвета) ------------------------------------------------------------------------------------------*/

  /* встраиваемые классы */

  .bold {font-weight: bold;} /* жирный шрифт */
  .sb { /* параметры текста стандартные (табл-меню+статусбар+шторка) */
    font-family: sans-serif;
    font-weight: bold;
  }

  /* шторка */

  .shn {font-size: 18pt;} /* заголовок 1 шторки */
  .shs a {font-size: 16pt;} /* текст в меню шторки */
  .shns {font-size: 24pt;} /* заголовок 2 шторки */

  /* табл-меню */

  .nav {font-size: 24pt;} /* надпись с именем раздела */
  .menu a {font-family: sans-serif;} /* текст в ячейках табл-меню */

  /* контент */

  .head {font-size: 20pt;} /* статусбар */
  .text { /* дефолтный класс для блоков с текстом */
    font-family: Arial;
    font-size: 14pt;
  }
  .abvt {font-size: 18pt;} /* "о системе", текст в верхней части блока */
  .abnt {font-size: 14pt;} /* "о системе", текст в нижней части блока */
  #aboutn {font-size: 16pt;} /* "о системе", текст в 2 колонках в самом низу */

/* цветовая схема (не учавствует в переключении цвета фона) ------------------------------------------------------------------------*/

  #custom:hover {background: rgba(0,0,0,0);} /* активная область второй шторки при наведении (невидимая) */

  /* библиотека бордеров */

  .bor-b1 {border-bottom: 1px solid #212121;}
  .bor-l2 {border-left: 2px solid #212121;}
  .bor-r2 {border-right: 2px solid #212121;}
  .bor-t2 {border-top: 2px solid #212121;}
  .bor-b2 {border-bottom: 2px solid #212121;}

/* пока не трогать -----------------------------------------------------------------------------------------*/

  /* цвета текста встариваемые (отдельным классом) */

  .wc {color: #FFF;}
  .rc {color: #F99;} /* внимание */
  .yc {color: #FF9;} /* требования */
  .gc {color: #9F9;} /* код */
  .bc {color: #99F;} /* блок с ссылками */

  /* спойлеры */

  .spoiler {background: #212121;}
  .spoiler a.sp {color: #DDD;}
  .sphide b {color: #AAA;}
  .sphide li {color: #DDD;}

  /* пункт "о системе" */

  .abvt {color: #AAA;}
  .abnt {color: #FFF;}

/*--------------------------------------------------------------------------------------------------*/
