/* дефолтные настройки -----------------------------------------------------------------------------*/

  a {text-decoration: none;} /* не подчеркивать/красить дефолтные ссылки */
  body {background: none;}

  /* оптимизация */

  .bold {font-weight: bold;} /* жирный шрифт */
  .sb { /* параметры текста стандартные (меню+статусбар+шторка) */
    color: #DDD;
    font-family: sans-serif;
    font-weight: bold;
  }
  .sc {color: #DDD;} /* цвет текста стандартный (контент) */
  .bor-20 {border-radius: 20px;}

/* шторка ------------------------------------------------------------------------------------------*/

  #sh:hover .sh {background: rgba(29,29,29,1);}
  .sh {background: #FFF;}
  .shn {font-size: 18pt;}
  .shs a {font-size: 16pt;}
  .shs a:hover {color: #212121;} /* меню в шторке при наведении */
  .shm {background: #808080;}
  .shm:hover {

    border-radius: 60px; /* закругления */
  }

/* вторая шторка -----------------------------------------------------------------------------------*/

  #custom {background: #FFF;}
  #custom:hover {background: rgba(0,0,0,0);}
  .custom {background: rgba(29,29,29,1);}
  .shns {font-size: 24pt;}

/* табл-меню ---------------------------------------------------------------------------------------*/

  .bar {background: #212121;}
  .nav {font-size: 24pt;}
  .menu a {
    color: #808080;
    font-family: sans-serif;
  }
  .menu a:hover {


    border-radius: 20px;
  }
  .segment b {

  }
  .segment b:hover {border-radius: 20px;}

/* контент -----------------------------------------------------------------------------------------*/

  .head {font-size: 20pt;}

  /* цвета текста встариваемые (отдельным классом) */

  .wc {color: #FFF;}
  .rc {color: #F99;} /* внимание */
  .yc {color: #FF9;} /* требования */
  .gc {color: #9F9;} /* код */
  .bc {color: #99F;} /* блок с ссылками */

  /* остальное */

  .text {
    font-family: Arial;
    font-size: 14pt;
  }

/* спойлеры -----------------------------------------------------------------------------------------*/

  .spoiler {
    background: #212121;
    border-radius: 5px;
  }
  .spoiler a.sp {color: #DDD;}
  .sphide b {color: #AAA;}
  .sphide li {color: #DDD;}

/* borderы -----------------------------------------------------------------------------------------*/

  .bor-l1 {border-left: 1px solid #212121;}
  .bor-r1 {border-right: 1px solid #212121;}
  .bor-t1 {border-top: 1px solid #212121;}
  .bor-b1 {border-bottom: 1px solid #212121;}
  .bor-lr1 {
    border-right: 1px solid #212121;
    border-left: 1px solid #212121;
  }
  .bor-l2 {border-left: 2px solid #212121;}
  .bor-r2 {border-right: 2px solid #212121;}
  .bor-t2 {border-top: 2px solid #212121;}
  .bor-b2 {border-bottom: 2px solid #212121;}

/* пункт "о системе" ---------------------------------------------------------------------------------------*/

  .abvt {
    color: #AAA;
    font-size: 18pt;
  }
  .abnt {
    color: #FFF;
    font-size: 14pt;
  }
  #aboutn {font-size: 16pt;}

/*--------------------------------------------------------------------------------------------------*/
