/* дефолтные настройки -----------------------------------------------------------------------------*/

  a {text-decoration: none;} /* не подчеркивать/красить дефолтные ссылки */
  body {background: #FFF;}
  p {
    font-family: Arial;
    font-size: 14pt;
  }
  .bold {font-weight: bold;}
  .sb {
    color: #DDD;
    font-family: sans-serif;
    font-weight: bold;
  }
  .block {background: #000;}

/* шторка ------------------------------------------------------------------------------------------*/

  .sh {background: #000;}
  .sh:hover {background: rgba(29,29,29,0.7);}
  .shn {font-size: 36pt;}
  .shs a {font-size: 20pt;}
  .shs a:hover {color: #212121;} /* меню в шторке при наведении */
  .shm {
    background: #808080;
    border-radius: 20px; /* закругления */
  }
  .shm:hover {
    background: #80CBC4;
    border-radius: 60px; /* закругления */
  }

/* контент -----------------------------------------------------------------------------------------*/

  /* табл-меню */

  .bar {
    background: #212121;
    border-radius: 0px 20px 20px 0px;
  }
  .nav {
    background: #000;
    color: #999;
    border-radius: 0px 20px 0px 0px;
  }
  .menu a {
    background: #000;
    color: #808080;
    font-family: sans-serif;
    border-bottom: 1px solid #212121;
  }
  .menu a:hover {
    background: #80CBC4;
    color: #474747;
    border-radius: 20px;
  }
  .segment b {color:#FFF;}
  .segment b:hover {color:#474747;}
  .set {
    background: #000;
    color: #999;
    border-radius: 0px 0px 20px 0px;
  }

  /* цвета текста встариваемые (отдельным классом) */

  .wc {color: #FFF;}
  .rc {color: #F00;}
  .gc {color: #0F0;}
  .bc {color: #00F;}

  /* цвета для особого текста */

  p.v {color: #F99;} /* внимание */
  p.n {color: #FF9;} /* требования */
  p.k {color: #9F9;} /* код */
  p.s {color: #FFF;} /* список */
  p.w {color: #99F;} /* блок с ссылками */

  /* остальное */

  .active {color: #DDD;}
  a.con {
    color: #99A;
    text-decoration: underline; /* подчеркивать только ссылки в контенте */
  }
  p.con { /* особый текст */
    background: #424242;
    border-radius: 5px;
  }

/* --------------------------------------------------------------------------------------------------*/
