/* дефолтные настройки -------------------------------------------------------------------------------------*/

  a {text-decoration: none;} /* не подчеркивать/красить дефолтные ссылки */
  body {background: none;} /* фон всего дока дефолтный */

/* параметры текста (без цвета) ----------------------------------------------------------------------------*/

  /* встраиваемые классы */

  .bold {font-weight: bold;} /* жирный шрифт */
  .sb { /* параметры текста стандартные (табл-меню+статусбар+шторка) */
    font-family: sans-serif;
    font-weight: bold;
  }

  /* шторка */

  .shn {font-size: 18pt;} /* заголовок 1 шторки */
  .shs a {font-size: 16pt;} /* текст в меню шторки */
  .shns {font-size: 24pt;} /* заголовок 2 шторки */

  /* табл-меню */

  .nav {font-size: 24pt;} /* надпись с именем раздела */
  .menu a {font-family: sans-serif;} /* текст в ячейках табл-меню */

  /* контент */

  .head {font-size: 20pt;} /* статусбар */
  .text { /* дефолтный класс для блоков с текстом */
    font-family: Arial;
    font-size: 14pt;
  }
  .abvt {font-size: 18pt;} /* "о системе", текст в верхней части блока */
  .abnt {font-size: 14pt;} /* "о системе", текст в нижней части блока */
  #aboutn {font-size: 16pt;} /* "о системе", текст в 2 колонках в самом низу */

  .ver, .hor {border-radius: 20px;}

/* параметры расцветки радиокнопок (неизменны при любой теме) ------------------------------------------------------------------*/

  /* #80CBC4 */

  [type="radio"][value="#80CBC4"] + span.cvet:before {box-shadow: 0 0 0 2px #80CBC4;} /* колечко в радиокнопке */
  [type="radio"][value="#80CBC4"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #80CBC4;
    box-shadow: 0 0 0 2px #80CBC4;
  }

  /* #42A5F6 */

  [type="radio"][value="#42A5F6"] + span.cvet:before {box-shadow: 0 0 0 2px #42A5F6;} /* колечко в радиокнопке */
  [type="radio"][value="#42A5F6"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #42A5F6;
    box-shadow: 0 0 0 2px #42A5F6;
  }

  /* #208559 */

  [type="radio"][value="#208559"] + span.cvet:before {box-shadow: 0 0 0 2px #208559;} /* колечко в радиокнопке */
  [type="radio"][value="#208559"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #208559;
    box-shadow: 0 0 0 2px #208559;
  }

  /* #9675CE */

  [type="radio"][value="#9675CE"] + span.cvet:before {box-shadow: 0 0 0 2px #9675CE;} /* колечко в радиокнопке */
  [type="radio"][value="#9675CE"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #9675CE;
    box-shadow: 0 0 0 2px #9675CE;
  }

  /* #EB0028 */

  [type="radio"][value="#EB0028"] + span.cvet:before {box-shadow: 0 0 0 2px #EB0028;} /* колечко в радиокнопке */
  [type="radio"][value="#EB0028"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #EB0028;
    box-shadow: 0 0 0 2px #EB0028;
  }

  /* #25C6DA */

  [type="radio"][value="#25C6DA"] + span.cvet:before {box-shadow: 0 0 0 2px #25C6DA;} /* колечко в радиокнопке */
  [type="radio"][value="#25C6DA"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #25C6DA;
    box-shadow: 0 0 0 2px #25C6DA;
  }

  /* #CC6F4E */

  [type="radio"][value="#CC6F4E"] + span.cvet:before {box-shadow: 0 0 0 2px #CC6F4E;} /* колечко в радиокнопке */
  [type="radio"][value="#CC6F4E"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #CC6F4E;
    box-shadow: 0 0 0 2px #CC6F4E;
  }

  /* #E5A544 */

  [type="radio"][value="#E5A544"] + span.cvet:before {box-shadow: 0 0 0 2px #E5A544;} /* колечко в радиокнопке */
  [type="radio"][value="#E5A544"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #E5A544;
    box-shadow: 0 0 0 2px #E5A544;
  }

  /* #7DC32F */

  [type="radio"][value="#7DC32F"] + span.cvet:before {box-shadow: 0 0 0 2px #7DC32F;} /* колечко в радиокнопке */
  [type="radio"][value="#7DC32F"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #7DC32F;
    box-shadow: 0 0 0 2px #7DC32F;
  }

  /* #F06292 */

  [type="radio"][value="#F06292"] + span.cvet:before {box-shadow: 0 0 0 2px #F06292;} /* колечко в радиокнопке */
  [type="radio"][value="#F06292"]:checked + span.cvet:before { /* отмеченная радиокнопка (кольцо+кружок) */
    background: #F06292;
    box-shadow: 0 0 0 2px #F06292;
  }

/* пока не трогать -----------------------------------------------------------------------------------------*/

  /* цвета текста встариваемые (отдельным классом) */

  .wc {color: #FFF;}
  .rc {color: #F99;} /* внимание */
  .yc {color: #FF9;} /* требования */
  .gc {color: #9F9;} /* код */
  .bc {color: #99F;} /* блок с ссылками */

  /* спойлеры */

  .spoiler {background: #212121;}
  .spoiler a.sp {color: #DDD;}
  .sphide b {color: #AAA;}
  .sphide li {color: #DDD;}

  /* пункт "о системе" */

  .abvt {color: #AAA;}
  .abnt {color: #FFF;}

/*----------------------------------------------------------------------------------------------------------*/
